<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="variable-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="158"/>
<entry key="0" type="xstring" value="design-by"/>
<entry key="1" type="xstring" value="path-reader (index)"/>
<entry key="2" type="xstring" value="path-reader"/>
<entry key="3" type="xstring" value="path-name"/>
<entry key="4" type="xstring" value="debug-mode"/>
<entry key="5" type="xstring" value="calibration"/>
<entry key="6" type="xstring" value="geo-scale"/>
<entry key="7" type="xstring" value="lvr_lifestyles_others_tobacco[t] (index)"/>
<entry key="8" type="xstring" value="lvr_lifestyles_others_tobacco[t]"/>
<entry key="9" type="xstring" value="lvr_lifestyles_diet_split[t] (index)"/>
<entry key="10" type="xstring" value="lvr_lifestyles_diet_split[t]"/>
<entry key="11" type="xstring" value="lvr_livestock_raising_other-animals[-] (index)"/>
<entry key="12" type="xstring" value="lvr_livestock_raising_other-animals[-]"/>
<entry key="13" type="xstring" value="lvr_livestock_raising_dairy-mutton-and-goats[-] (index)"/>
<entry key="14" type="xstring" value="lvr_livestock_raising_dairy-mutton-and-goats[-]"/>
<entry key="15" type="xstring" value="lvr_livestock_raising_laying-poultry[-] (index)"/>
<entry key="16" type="xstring" value="lvr_livestock_raising_laying-poultry[-]"/>
<entry key="17" type="xstring" value="lvr_livestock_raising_mutton-&amp;-goats[-] (index)"/>
<entry key="18" type="xstring" value="lvr_livestock_raising_mutton-&amp;-goats[-]"/>
<entry key="19" type="xstring" value="lvr_livestock_raising_pigs[-] (index)"/>
<entry key="20" type="xstring" value="lvr_livestock_raising_pigs[-]"/>
<entry key="21" type="xstring" value="lvr_livestock_raising_broilers-poultry[-] (index)"/>
<entry key="22" type="xstring" value="lvr_livestock_raising_broilers-poultry[-]"/>
<entry key="23" type="xstring" value="lvr_livestock_raising_dairy-cattle[-] (index)"/>
<entry key="24" type="xstring" value="lvr_livestock_raising_dairy-cattle[-]"/>
<entry key="25" type="xstring" value="lvr_livestock_raising_non-dairy-cattle[-] (index)"/>
<entry key="26" type="xstring" value="m-lvr_raising-livestock[-] (index)"/>
<entry key="27" type="xstring" value="m-lvr_raising-livestock[-]"/>
<entry key="28" type="xstring" value="lvr_livestock_raising_non-dairy-cattle[-]"/>
<entry key="29" type="xstring" value="meta-lever (index)"/>
<entry key="30" type="xstring" value="meta-lever"/>
<entry key="31" type="xstring" value="lvr_food-industry_by-products_wine-industry[%] (index)"/>
<entry key="32" type="xstring" value="lvr_food-industry_by-products_wine-industry[%]"/>
<entry key="33" type="xstring" value="lvr_food-industry_by-products_beer-industry[%] (index)"/>
<entry key="34" type="xstring" value="lvr_food-industry_by-products_beer-industry[%]"/>
<entry key="35" type="xstring" value="lvr_food-industry_by-products_alcohol-industry[%] (index)"/>
<entry key="36" type="xstring" value="lvr_food-industry_by-products_alcohol-industry[%]"/>
<entry key="37" type="xstring" value="lvr_food-industry_feedstock-split_alcohol-industry[%] (index)"/>
<entry key="38" type="xstring" value="lvr_food-industry_feedstock-split_alcohol-industry[%]"/>
<entry key="39" type="xstring" value="lvr_food-industry_by-products_sugar-industry[%] (index)"/>
<entry key="40" type="xstring" value="m-lvr_food-industry[-] (index)"/>
<entry key="41" type="xstring" value="m-lvr_food-industry[-]"/>
<entry key="42" type="xstring" value="lvr_food-industry_by-products_sugar-industry[%]"/>
<entry key="43" type="xstring" value="lvr_bio-sourced_materials_fibre-crops[t] (index)"/>
<entry key="44" type="xstring" value="lvr_bio-sourced_materials_fibre-crops[t]"/>
<entry key="45" type="xstring" value="lvr_bio-sourced_materials_rubber[t] (index)"/>
<entry key="46" type="xstring" value="lvr_bio-sourced_materials_rubber[t]"/>
<entry key="47" type="xstring" value="lvr_bio-sourced_materials_alcohol-non-food[t] (index)"/>
<entry key="48" type="xstring" value="lvr_bio-sourced_materials_alcohol-non-food[t]"/>
<entry key="49" type="xstring" value="m-lvr_bio-sourced-supply[-] (index)"/>
<entry key="50" type="xstring" value="m-lvr_bio-sourced-supply[-]"/>
<entry key="51" type="xstring" value="lvr_bio-sourced_materials_rubber[%]"/>
<entry key="52" type="xstring" value="lvr_self-sufficiency_non-food_fibre-crops[%] (index)"/>
<entry key="53" type="xstring" value="lvr_self-sufficiency_non-food_fibre-crops[%]"/>
<entry key="54" type="xstring" value="lvr_self-sufficiency_non-food_rubber[%] (index)"/>
<entry key="55" type="xstring" value="lvr_self-sufficiency_non-food_rubber[%]"/>
<entry key="56" type="xstring" value="lvr_self-sufficiency_non-food_tobacco[%] (index)"/>
<entry key="57" type="xstring" value="lvr_self-sufficiency_non-food_alcohol-non-food[%] (index)"/>
<entry key="58" type="xstring" value="lvr_self-sufficiency_non-food_alcohol-non-food[%]"/>
<entry key="59" type="xstring" value="m-lvr_self-sufficiency-non-food[-] (index)"/>
<entry key="60" type="xstring" value="m-lvr_self-sufficiency-non-food[-]"/>
<entry key="61" type="xstring" value="lvr_self-sufficiency_non-food_tobacco[%]"/>
<entry key="62" type="xstring" value="lvr_self-sufficiency_animal-products_eggs[%] (index)"/>
<entry key="63" type="xstring" value="lvr_self-sufficiency_animal-products_eggs[%]"/>
<entry key="64" type="xstring" value="lvr_self-sufficiency_animal-products_offals[%] (index)"/>
<entry key="65" type="xstring" value="lvr_self-sufficiency_animal-products_offals[%]"/>
<entry key="66" type="xstring" value="lvr_self-sufficiency_animal-products_fats-animals-raw[%] (index)"/>
<entry key="67" type="xstring" value="lvr_self-sufficiency_animal-products_fats-animals-raw[%]"/>
<entry key="68" type="xstring" value="lvr_self-sufficiency_seafood_fish-seafood[%] (index)"/>
<entry key="69" type="xstring" value="lvr_self-sufficiency_seafood_fish-seafood[%]"/>
<entry key="70" type="xstring" value="lvr_self-sufficiency_animal-products_milk-excluding-butter[%] (index)"/>
<entry key="71" type="xstring" value="lvr_self-sufficiency_animal-products_milk-excluding-butter[%]"/>
<entry key="72" type="xstring" value="lvr_self-sufficiency_meat_mutton-&amp;-goat-meat[%] (index)"/>
<entry key="73" type="xstring" value="lvr_self-sufficiency_meat_mutton-&amp;-goat-meat[%]"/>
<entry key="74" type="xstring" value="lvr_self-sufficiency_meat_pigmeat[%] (index)"/>
<entry key="75" type="xstring" value="lvr_self-sufficiency_meat_pigmeat[%]"/>
<entry key="76" type="xstring" value="lvr_self-sufficiency_meat_poultry-meat[%] (index)"/>
<entry key="77" type="xstring" value="lvr_self-sufficiency_meat_poultry-meat[%]"/>
<entry key="78" type="xstring" value="lvr_self-sufficiency_meat_meat-other[%] (index)"/>
<entry key="79" type="xstring" value="lvr_self-sufficiency_meat_meat-other[%]"/>
<entry key="80" type="xstring" value="lvr_self-sufficiency_meat_bovine-meat[%] (index)"/>
<entry key="81" type="xstring" value="m-lvr_self-sufficiency-animals[-] (index)"/>
<entry key="82" type="xstring" value="m-lvr_self-sufficiency-animals[-]"/>
<entry key="83" type="xstring" value="lvr_self-sufficiency_meat_bovine-meat[%]"/>
<entry key="84" type="xstring" value="lvr_self-sufficiency_oil-crops_palm[%] (index)"/>
<entry key="85" type="xstring" value="lvr_self-sufficiency_oil-crops_palm[%]"/>
<entry key="86" type="xstring" value="lvr_self-sufficiency_oil-crops_rape-and-mustardseed[%] (index)"/>
<entry key="87" type="xstring" value="lvr_self-sufficiency_oil-crops_rape-and-mustardseed[%]"/>
<entry key="88" type="xstring" value="lvr_self-sufficiency_oil-crops_soyabeans[%] (index)"/>
<entry key="89" type="xstring" value="lvr_self-sufficiency_oil-crops_soyabeans[%]"/>
<entry key="90" type="xstring" value="lvr_self-sufficiency_oil-crops_sunflower-seed[%] (index)"/>
<entry key="91" type="xstring" value="lvr_self-sufficiency_oil-crops_sunflower-seed[%]"/>
<entry key="92" type="xstring" value="lvr_self-sufficiency_oil-crops_oilcrop-others[%] (index)"/>
<entry key="93" type="xstring" value="lvr_self-sufficiency_oil-crops_oilcrop-others[%]"/>
<entry key="94" type="xstring" value="lvr_self-sufficiency_oil-crops_olives[%] (index)"/>
<entry key="95" type="xstring" value="lvr_self-sufficiency_oil-crops_olives[%]"/>
<entry key="96" type="xstring" value="lvr_self-sufficiency_cakes_rape-and-mustard-cake[%] (index)"/>
<entry key="97" type="xstring" value="lvr_self-sufficiency_cakes_rape-and-mustard-cake[%]"/>
<entry key="98" type="xstring" value="lvr_self-sufficiency_cakes_soyabean-cake[%] (index)"/>
<entry key="99" type="xstring" value="lvr_self-sufficiency_cakes_soyabean-cake[%]"/>
<entry key="100" type="xstring" value="lvr_self-sufficiency_cakes_sunflowerseed-cake[%] (index)"/>
<entry key="101" type="xstring" value="lvr_self-sufficiency_cakes_sunflowerseed-cake[%]"/>
<entry key="102" type="xstring" value="lvr_self-sufficiency_cakes_cake-others[%] (index)"/>
<entry key="103" type="xstring" value="lvr_self-sufficiency_cakes_cake-others[%]"/>
<entry key="104" type="xstring" value="lvr_self-sufficiency_cakes_palm-cake[%] (index)"/>
<entry key="105" type="xstring" value="lvr_self-sufficiency_cakes_palm-cake[%]"/>
<entry key="106" type="xstring" value="lvr_self-sufficiency_vegetable-oils_palm-oil[%] (index)"/>
<entry key="107" type="xstring" value="lvr_self-sufficiency_vegetable-oils_palm-oil[%]"/>
<entry key="108" type="xstring" value="lvr_self-sufficiency_vegetable-oils_rape-and-mustard-oil[%] (index)"/>
<entry key="109" type="xstring" value="lvr_self-sufficiency_vegetable-oils_rape-and-mustard-oil[%]"/>
<entry key="110" type="xstring" value="lvr_self-sufficiency_vegetable-oils_soyabean-oil[%] (index)"/>
<entry key="111" type="xstring" value="lvr_self-sufficiency_vegetable-oils_soyabean-oil[%]"/>
<entry key="112" type="xstring" value="lvr_self-sufficiency_vegetable-oils_sunflowerseed-oil[%] (index)"/>
<entry key="113" type="xstring" value="lvr_self-sufficiency_vegetable-oils_sunflowerseed-oil[%]"/>
<entry key="114" type="xstring" value="lvr_self-sufficiency_vegetable-oils_vegetable-oil-others[%] (index)"/>
<entry key="115" type="xstring" value="lvr_self-sufficiency_vegetable-oils_vegetable-oil-others[%]"/>
<entry key="116" type="xstring" value="lvr_self-sufficiency_vegetable-oils_olive-oil[%] (index)"/>
<entry key="117" type="xstring" value="lvr_self-sufficiency_vegetable-oils_olive-oil[%]"/>
<entry key="118" type="xstring" value="lvr_self-sufficiency_crops_starchy-roots[%] (index)"/>
<entry key="119" type="xstring" value="lvr_self-sufficiency_crops_starchy-roots[%]"/>
<entry key="120" type="xstring" value="lvr_self-sufficiency_crops_fruits-excluding-wine[%] (index)"/>
<entry key="121" type="xstring" value="lvr_self-sufficiency_crops_fruits-excluding-wine[%]"/>
<entry key="122" type="xstring" value="lvr_self-sufficiency_crops_vegetables[%] (index)"/>
<entry key="123" type="xstring" value="lvr_self-sufficiency_crops_vegetables[%]"/>
<entry key="124" type="xstring" value="lvr_self-sufficiency_crops_sugar-&amp;-sweeteners[%] (index)"/>
<entry key="125" type="xstring" value="lvr_self-sufficiency_crops_sugar-&amp;-sweeteners[%]"/>
<entry key="126" type="xstring" value="lvr_self-sufficiency_crops_sugar-crops[%] (index)"/>
<entry key="127" type="xstring" value="lvr_self-sufficiency_crops_sugar-crops[%]"/>
<entry key="128" type="xstring" value="lvr_self-sufficiency_crops_pulses[%] (index)"/>
<entry key="129" type="xstring" value="lvr_self-sufficiency_crops_pulses[%]"/>
<entry key="130" type="xstring" value="lvr_self-sufficiency_stimulants_cocoa-beans-and-products[%] (index)"/>
<entry key="131" type="xstring" value="lvr_self-sufficiency_stimulants_cocoa-beans-and-products[%]"/>
<entry key="132" type="xstring" value="lvr_self-sufficiency_stimulants_tea-including-mate[%] (index)"/>
<entry key="133" type="xstring" value="lvr_self-sufficiency_stimulants_tea-including-mate[%]"/>
<entry key="134" type="xstring" value="lvr_self-sufficiency_stimulants_coffee-and-products[%] (index)"/>
<entry key="135" type="xstring" value="lvr_self-sufficiency_stimulants_coffee-and-products[%]"/>
<entry key="136" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_wine[%] (index)"/>
<entry key="137" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_wine[%]"/>
<entry key="138" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-fermented[%] (index)"/>
<entry key="139" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-fermented[%]"/>
<entry key="140" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-alcoholic[%] (index)"/>
<entry key="141" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-alcoholic[%]"/>
<entry key="142" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beer[%] (index)"/>
<entry key="143" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beer[%]"/>
<entry key="144" type="xstring" value="lvr_self-sufficiency_cereals_maize-and-products[%] (index)"/>
<entry key="145" type="xstring" value="lvr_self-sufficiency_cereals_maize-and-products[%]"/>
<entry key="146" type="xstring" value="lvr_self-sufficiency_cereals_rye-and-products[%] (index)"/>
<entry key="147" type="xstring" value="lvr_self-sufficiency_cereals_rye-and-products[%]"/>
<entry key="148" type="xstring" value="lvr_self-sufficiency_cereals_wheat-and-products[%] (index)"/>
<entry key="149" type="xstring" value="lvr_self-sufficiency_cereals_cereal-others[%] (index)"/>
<entry key="150" type="xstring" value="lvr_self-sufficiency_cereals_cereal-others[%]"/>
<entry key="151" type="xstring" value="lvr_self-sufficiency_cereals_rice-milled-equivalent[%] (index)"/>
<entry key="152" type="xstring" value="lvr_self-sufficiency_cereals_rice-milled-equivalent[%]"/>
<entry key="153" type="xstring" value="lvr_self-sufficiency_cereals_barley-and-products[%] (index)"/>
<entry key="154" type="xstring" value="lvr_self-sufficiency_cereals_barley-and-products[%]"/>
<entry key="155" type="xstring" value="m-lvr_self-sufficiency-crops[-] (index)"/>
<entry key="156" type="xstring" value="m-lvr_self-sufficiency-crops[-]"/>
<entry key="157" type="xstring" value="lvr_self-sufficiency_cereals_wheat-and-products[%]"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=".*"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
</config>
<entry key="variable-prefix" type="xstring" isnull="true" value=""/>
<config key="port-names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Port 1"/>
</config>
<config key="port-descriptions">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value=""/>
</config>
<entry key="sub-node-description" type="xstring" value=""/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="isDeletable" type="xboolean" value="false"/>
<entry key="factory" type="xstring" value="org.knime.core.node.workflow.virtual.subnode.VirtualSubNodeInputNodeFactory"/>
<entry key="node-name" type="xstring" value="Component Input"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Core API"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.core"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.3.v202105242123"/>
<entry key="node-feature-name" type="xstring" value="KNIME AP Core feature"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.core.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.3.v202105242123"/>
<config key="factory_settings">
<config key="port_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
</config>
<entry key="name" type="xstring" value="Component Input"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
