<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="selection"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="dat_total-supply_fat-supply[t/cap],dat_total-supply_protein-supply[t/cap],dat_total-supply_animal-protein-supply[t/cap]"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="selection"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="dat_total-supply_fat-supply[t/cap],dat_total-supply_protein-supply[t/cap],dat_total-supply_animal-protein-supply[t/cap]"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="defaultValue">
<config key="columns">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="columnFilter">
<config key="columnFilter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="157"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_beef-and-buffalo-meat[head]"/>
<entry key="3" type="xstring" value="livestockprimary_production_production_beef-and-buffalo-meat[t]"/>
<entry key="4" type="xstring" value="livestockprimary_production_yield/carcass-weight_beef-and-buffalo-meat[hg/an]"/>
<entry key="5" type="xstring" value="livestockprimary_production_laying_eggs-primary[1000-head]"/>
<entry key="6" type="xstring" value="livestockprimary_production_production_eggs-primary[t]"/>
<entry key="7" type="xstring" value="livestockprimary_production_yield_eggs-primary[100mg/an]"/>
<entry key="8" type="xstring" value="livestockprimary_production_production_eggs-hen-in-shell-number[1000-no]"/>
<entry key="9" type="xstring" value="livestockprimary_production_laying_eggs-hen-in-shell[1000-head]"/>
<entry key="10" type="xstring" value="livestockprimary_production_production_eggs-hen-in-shell[t]"/>
<entry key="11" type="xstring" value="livestockprimary_production_yield_eggs-hen-in-shell[100mg/an]"/>
<entry key="12" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_hides-cattle-fresh[head]"/>
<entry key="13" type="xstring" value="livestockprimary_production_production_hides-cattle-fresh[t]"/>
<entry key="14" type="xstring" value="livestockprimary_production_yield_hides-cattle-fresh[hg/an]"/>
<entry key="15" type="xstring" value="livestockprimary_production_production_honey-natural[t]"/>
<entry key="16" type="xstring" value="livestockprimary_production_production_meat-indigenous-cattle[head]"/>
<entry key="17" type="xstring" value="livestockprimary_production_production_meat-indigenous-cattle[t]"/>
<entry key="18" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-cattle[hg/an]"/>
<entry key="19" type="xstring" value="livestockprimary_production_production_meat-indigenous-chicken[1000-head]"/>
<entry key="20" type="xstring" value="livestockprimary_production_production_meat-indigenous-chicken[t]"/>
<entry key="21" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-chicken[0.1g/an]"/>
<entry key="22" type="xstring" value="livestockprimary_production_production_meat-indigenous-duck[1000-head]"/>
<entry key="23" type="xstring" value="livestockprimary_production_production_meat-indigenous-duck[t]"/>
<entry key="24" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-duck[0.1g/an]"/>
<entry key="25" type="xstring" value="livestockprimary_production_production_meat-indigenous-geese[1000-head]"/>
<entry key="26" type="xstring" value="livestockprimary_production_production_meat-indigenous-geese[t]"/>
<entry key="27" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-geese[0.1g/an]"/>
<entry key="28" type="xstring" value="livestockprimary_production_production_meat-indigenous-goat[head]"/>
<entry key="29" type="xstring" value="livestockprimary_production_production_meat-indigenous-goat[t]"/>
<entry key="30" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-goat[hg/an]"/>
<entry key="31" type="xstring" value="livestockprimary_production_production_meat-indigenous-horse[head]"/>
<entry key="32" type="xstring" value="livestockprimary_production_production_meat-indigenous-horse[t]"/>
<entry key="33" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-horse[hg/an]"/>
<entry key="34" type="xstring" value="livestockprimary_production_production_meat-indigenous-pig[head]"/>
<entry key="35" type="xstring" value="livestockprimary_production_production_meat-indigenous-pig[t]"/>
<entry key="36" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-pig[hg/an]"/>
<entry key="37" type="xstring" value="livestockprimary_production_production_meat-indigenous-poultry[1000-head]"/>
<entry key="38" type="xstring" value="livestockprimary_production_production_meat-indigenous-poultry[t]"/>
<entry key="39" type="xstring" value="livestockprimary_production_production_meat-indigenous-rabbit[1000-head]"/>
<entry key="40" type="xstring" value="livestockprimary_production_production_meat-indigenous-rabbit[t]"/>
<entry key="41" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-rabbit[0.1g/an]"/>
<entry key="42" type="xstring" value="livestockprimary_production_production_meat-indigenous-sheep[head]"/>
<entry key="43" type="xstring" value="livestockprimary_production_production_meat-indigenous-sheep[t]"/>
<entry key="44" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-sheep[hg/an]"/>
<entry key="45" type="xstring" value="livestockprimary_production_production_meat-indigenous-total[t]"/>
<entry key="46" type="xstring" value="livestockprimary_production_production_meat-indigenous-turkey[1000-head]"/>
<entry key="47" type="xstring" value="livestockprimary_production_production_meat-indigenous-turkey[t]"/>
<entry key="48" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-turkey[0.1g/an]"/>
<entry key="49" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-poultry[1000-head]"/>
<entry key="50" type="xstring" value="livestockprimary_production_production_meat-poultry[t]"/>
<entry key="51" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-poultry[0.1g/an]"/>
<entry key="52" type="xstring" value="livestockprimary_production_production_meat-total[t]"/>
<entry key="53" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-cattle[head]"/>
<entry key="54" type="xstring" value="livestockprimary_production_production_meat-cattle[t]"/>
<entry key="55" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-cattle[hg/an]"/>
<entry key="56" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-chicken[1000-head]"/>
<entry key="57" type="xstring" value="livestockprimary_production_production_meat-chicken[t]"/>
<entry key="58" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-chicken[0.1g/an]"/>
<entry key="59" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-duck[1000-head]"/>
<entry key="60" type="xstring" value="livestockprimary_production_production_meat-duck[t]"/>
<entry key="61" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-duck[0.1g/an]"/>
<entry key="62" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-game[head]"/>
<entry key="63" type="xstring" value="livestockprimary_production_production_meat-game[t]"/>
<entry key="64" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-game[hg/an]"/>
<entry key="65" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-goat[head]"/>
<entry key="66" type="xstring" value="livestockprimary_production_production_meat-goat[t]"/>
<entry key="67" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-goat[hg/an]"/>
<entry key="68" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-goose-and-guinea-fowl[1000-head]"/>
<entry key="69" type="xstring" value="livestockprimary_production_production_meat-goose-and-guinea-fowl[t]"/>
<entry key="70" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-goose-and-guinea-fowl[0.1g/an]"/>
<entry key="71" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-horse[head]"/>
<entry key="72" type="xstring" value="livestockprimary_production_production_meat-horse[t]"/>
<entry key="73" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-horse[hg/an]"/>
<entry key="74" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-pig[head]"/>
<entry key="75" type="xstring" value="livestockprimary_production_production_meat-pig[t]"/>
<entry key="76" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-pig[hg/an]"/>
<entry key="77" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-rabbit[1000-head]"/>
<entry key="78" type="xstring" value="livestockprimary_production_production_meat-rabbit[t]"/>
<entry key="79" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-rabbit[0.1g/an]"/>
<entry key="80" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-sheep[head]"/>
<entry key="81" type="xstring" value="livestockprimary_production_production_meat-sheep[t]"/>
<entry key="82" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-sheep[hg/an]"/>
<entry key="83" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-turkey[1000-head]"/>
<entry key="84" type="xstring" value="livestockprimary_production_production_meat-turkey[t]"/>
<entry key="85" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-turkey[0.1g/an]"/>
<entry key="86" type="xstring" value="livestockprimary_production_milk-animals_milk-whole-fresh-cow[head]"/>
<entry key="87" type="xstring" value="livestockprimary_production_production_milk-whole-fresh-cow[t]"/>
<entry key="88" type="xstring" value="livestockprimary_production_yield_milk-whole-fresh-cow[hg/an]"/>
<entry key="89" type="xstring" value="livestockprimary_production_milk-animals_milk-whole-fresh-goat[head]"/>
<entry key="90" type="xstring" value="livestockprimary_production_production_milk-whole-fresh-goat[t]"/>
<entry key="91" type="xstring" value="livestockprimary_production_yield_milk-whole-fresh-goat[hg/an]"/>
<entry key="92" type="xstring" value="livestockprimary_production_milk-animals_milk-whole-fresh-sheep[head]"/>
<entry key="93" type="xstring" value="livestockprimary_production_production_milk-whole-fresh-sheep[t]"/>
<entry key="94" type="xstring" value="livestockprimary_production_yield_milk-whole-fresh-sheep[hg/an]"/>
<entry key="95" type="xstring" value="livestockprimary_production_milk-animals_milktotal[head]"/>
<entry key="96" type="xstring" value="livestockprimary_production_production_milktotal[t]"/>
<entry key="97" type="xstring" value="livestockprimary_production_yield_milktotal[hg/an]"/>
<entry key="98" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_sheep-and-goat-meat[head]"/>
<entry key="99" type="xstring" value="livestockprimary_production_production_sheep-and-goat-meat[t]"/>
<entry key="100" type="xstring" value="livestockprimary_production_yield/carcass-weight_sheep-and-goat-meat[hg/an]"/>
<entry key="101" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_skins-goat-fresh[head]"/>
<entry key="102" type="xstring" value="livestockprimary_production_production_skins-goat-fresh[t]"/>
<entry key="103" type="xstring" value="livestockprimary_production_yield_skins-goat-fresh[hg/an]"/>
<entry key="104" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_skins-sheep-fresh[head]"/>
<entry key="105" type="xstring" value="livestockprimary_production_production_skins-sheep-fresh[t]"/>
<entry key="106" type="xstring" value="livestockprimary_production_yield_skins-sheep-fresh[hg/an]"/>
<entry key="107" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_skins-sheep-with-wool[head]"/>
<entry key="108" type="xstring" value="livestockprimary_production_production_skins-sheep-with-wool[t]"/>
<entry key="109" type="xstring" value="livestockprimary_production_yield_skins-sheep-with-wool[hg/an]"/>
<entry key="110" type="xstring" value="livestockprimary_production_production_wool-greasy[t]"/>
<entry key="111" type="xstring" value="livestockprimary_production_production_beeswax[t]"/>
<entry key="112" type="xstring" value="livestockprimary_production_production_meat-nes[t]"/>
<entry key="113" type="xstring" value="livestockprimary_production_production_eggs-other-bird-in-shell-number[1000-no]"/>
<entry key="114" type="xstring" value="livestockprimary_production_laying_eggs-other-bird-in-shell[1000-head]"/>
<entry key="115" type="xstring" value="livestockprimary_production_production_eggs-other-bird-in-shell[t]"/>
<entry key="116" type="xstring" value="livestockprimary_production_yield_eggs-other-bird-in-shell[100mg/an]"/>
<entry key="117" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_hides-buffalo-fresh[head]"/>
<entry key="118" type="xstring" value="livestockprimary_production_production_hides-buffalo-fresh[t]"/>
<entry key="119" type="xstring" value="livestockprimary_production_yield_hides-buffalo-fresh[hg/an]"/>
<entry key="120" type="xstring" value="livestockprimary_production_production_meat-indigenous-ass[head]"/>
<entry key="121" type="xstring" value="livestockprimary_production_production_meat-indigenous-ass[t]"/>
<entry key="122" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-ass[hg/an]"/>
<entry key="123" type="xstring" value="livestockprimary_production_production_meat-indigenous-buffalo[head]"/>
<entry key="124" type="xstring" value="livestockprimary_production_production_meat-indigenous-buffalo[t]"/>
<entry key="125" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-buffalo[hg/an]"/>
<entry key="126" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-ass[head]"/>
<entry key="127" type="xstring" value="livestockprimary_production_production_meat-ass[t]"/>
<entry key="128" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-ass[hg/an]"/>
<entry key="129" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-bird-nes[1000-head]"/>
<entry key="130" type="xstring" value="livestockprimary_production_production_meat-bird-nes[t]"/>
<entry key="131" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-bird-nes[0.1g/an]"/>
<entry key="132" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-buffalo[head]"/>
<entry key="133" type="xstring" value="livestockprimary_production_production_meat-buffalo[t]"/>
<entry key="134" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-buffalo[hg/an]"/>
<entry key="135" type="xstring" value="livestockprimary_production_milk-animals_milk-whole-fresh-buffalo[head]"/>
<entry key="136" type="xstring" value="livestockprimary_production_production_milk-whole-fresh-buffalo[t]"/>
<entry key="137" type="xstring" value="livestockprimary_production_yield_milk-whole-fresh-buffalo[hg/an]"/>
<entry key="138" type="xstring" value="livestockprimary_production_production_silk-worm-cocoons-reelable[t]"/>
<entry key="139" type="xstring" value="livestockprimary_production_prod-popultn_beeswax[no]"/>
<entry key="140" type="xstring" value="livestockprimary_production_yield_beeswax[hg]"/>
<entry key="141" type="xstring" value="livestockprimary_production_prod-popultn_honey-natural[no]"/>
<entry key="142" type="xstring" value="livestockprimary_production_yield_honey-natural[hg]"/>
<entry key="143" type="xstring" value="livestockprimary_production_production_meat-indigenous-bird-nes[1000-head]"/>
<entry key="144" type="xstring" value="livestockprimary_production_production_meat-indigenous-bird-nes[t]"/>
<entry key="145" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-bird-nes[0.1g/an]"/>
<entry key="146" type="xstring" value="livestockprimary_production_prod-popultn_wool-greasy[head]"/>
<entry key="147" type="xstring" value="livestockprimary_production_yield_wool-greasy[hg]"/>
<entry key="148" type="xstring" value="livestockprimary_production_production_offals-nes[t]"/>
<entry key="149" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-nes[head]"/>
<entry key="150" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-nes[hg/an]"/>
<entry key="151" type="xstring" value="livestockprimary_production_production_meat-indigenous-mule[head]"/>
<entry key="152" type="xstring" value="livestockprimary_production_production_meat-indigenous-mule[t]"/>
<entry key="153" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-mule[hg/an]"/>
<entry key="154" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-mule[head]"/>
<entry key="155" type="xstring" value="livestockprimary_production_production_meat-mule[t]"/>
<entry key="156" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-mule[hg/an]"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="(.*)\[1000-head\]"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
</config>
<entry key="label" type="xstring" value="Selection"/>
<entry key="description" type="xstring" value="Enter Description"/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="hideInDialog" type="xboolean" value="false"/>
<entry key="required" type="xboolean" value="true"/>
<entry key="parameterName" type="xstring" value="selection"/>
<entry key="customCSS" type="xstring" value=""/>
<entry key="flowvariablename" type="xstring" value="selection"/>
<config key="possibleColumns">
<entry key="array-size" type="xint" value="157"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="Years"/>
<entry key="2" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_beef-and-buffalo-meat[head]"/>
<entry key="3" type="xstring" value="livestockprimary_production_production_beef-and-buffalo-meat[t]"/>
<entry key="4" type="xstring" value="livestockprimary_production_yield/carcass-weight_beef-and-buffalo-meat[hg/an]"/>
<entry key="5" type="xstring" value="livestockprimary_production_laying_eggs-primary[1000-head]"/>
<entry key="6" type="xstring" value="livestockprimary_production_production_eggs-primary[t]"/>
<entry key="7" type="xstring" value="livestockprimary_production_yield_eggs-primary[100mg/an]"/>
<entry key="8" type="xstring" value="livestockprimary_production_production_eggs-hen-in-shell-number[1000-no]"/>
<entry key="9" type="xstring" value="livestockprimary_production_laying_eggs-hen-in-shell[1000-head]"/>
<entry key="10" type="xstring" value="livestockprimary_production_production_eggs-hen-in-shell[t]"/>
<entry key="11" type="xstring" value="livestockprimary_production_yield_eggs-hen-in-shell[100mg/an]"/>
<entry key="12" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_hides-cattle-fresh[head]"/>
<entry key="13" type="xstring" value="livestockprimary_production_production_hides-cattle-fresh[t]"/>
<entry key="14" type="xstring" value="livestockprimary_production_yield_hides-cattle-fresh[hg/an]"/>
<entry key="15" type="xstring" value="livestockprimary_production_production_honey-natural[t]"/>
<entry key="16" type="xstring" value="livestockprimary_production_production_meat-indigenous-cattle[head]"/>
<entry key="17" type="xstring" value="livestockprimary_production_production_meat-indigenous-cattle[t]"/>
<entry key="18" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-cattle[hg/an]"/>
<entry key="19" type="xstring" value="livestockprimary_production_production_meat-indigenous-chicken[1000-head]"/>
<entry key="20" type="xstring" value="livestockprimary_production_production_meat-indigenous-chicken[t]"/>
<entry key="21" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-chicken[0.1g/an]"/>
<entry key="22" type="xstring" value="livestockprimary_production_production_meat-indigenous-duck[1000-head]"/>
<entry key="23" type="xstring" value="livestockprimary_production_production_meat-indigenous-duck[t]"/>
<entry key="24" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-duck[0.1g/an]"/>
<entry key="25" type="xstring" value="livestockprimary_production_production_meat-indigenous-geese[1000-head]"/>
<entry key="26" type="xstring" value="livestockprimary_production_production_meat-indigenous-geese[t]"/>
<entry key="27" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-geese[0.1g/an]"/>
<entry key="28" type="xstring" value="livestockprimary_production_production_meat-indigenous-goat[head]"/>
<entry key="29" type="xstring" value="livestockprimary_production_production_meat-indigenous-goat[t]"/>
<entry key="30" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-goat[hg/an]"/>
<entry key="31" type="xstring" value="livestockprimary_production_production_meat-indigenous-horse[head]"/>
<entry key="32" type="xstring" value="livestockprimary_production_production_meat-indigenous-horse[t]"/>
<entry key="33" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-horse[hg/an]"/>
<entry key="34" type="xstring" value="livestockprimary_production_production_meat-indigenous-pig[head]"/>
<entry key="35" type="xstring" value="livestockprimary_production_production_meat-indigenous-pig[t]"/>
<entry key="36" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-pig[hg/an]"/>
<entry key="37" type="xstring" value="livestockprimary_production_production_meat-indigenous-poultry[1000-head]"/>
<entry key="38" type="xstring" value="livestockprimary_production_production_meat-indigenous-poultry[t]"/>
<entry key="39" type="xstring" value="livestockprimary_production_production_meat-indigenous-rabbit[1000-head]"/>
<entry key="40" type="xstring" value="livestockprimary_production_production_meat-indigenous-rabbit[t]"/>
<entry key="41" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-rabbit[0.1g/an]"/>
<entry key="42" type="xstring" value="livestockprimary_production_production_meat-indigenous-sheep[head]"/>
<entry key="43" type="xstring" value="livestockprimary_production_production_meat-indigenous-sheep[t]"/>
<entry key="44" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-sheep[hg/an]"/>
<entry key="45" type="xstring" value="livestockprimary_production_production_meat-indigenous-total[t]"/>
<entry key="46" type="xstring" value="livestockprimary_production_production_meat-indigenous-turkey[1000-head]"/>
<entry key="47" type="xstring" value="livestockprimary_production_production_meat-indigenous-turkey[t]"/>
<entry key="48" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-turkey[0.1g/an]"/>
<entry key="49" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-poultry[1000-head]"/>
<entry key="50" type="xstring" value="livestockprimary_production_production_meat-poultry[t]"/>
<entry key="51" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-poultry[0.1g/an]"/>
<entry key="52" type="xstring" value="livestockprimary_production_production_meat-total[t]"/>
<entry key="53" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-cattle[head]"/>
<entry key="54" type="xstring" value="livestockprimary_production_production_meat-cattle[t]"/>
<entry key="55" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-cattle[hg/an]"/>
<entry key="56" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-chicken[1000-head]"/>
<entry key="57" type="xstring" value="livestockprimary_production_production_meat-chicken[t]"/>
<entry key="58" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-chicken[0.1g/an]"/>
<entry key="59" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-duck[1000-head]"/>
<entry key="60" type="xstring" value="livestockprimary_production_production_meat-duck[t]"/>
<entry key="61" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-duck[0.1g/an]"/>
<entry key="62" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-game[head]"/>
<entry key="63" type="xstring" value="livestockprimary_production_production_meat-game[t]"/>
<entry key="64" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-game[hg/an]"/>
<entry key="65" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-goat[head]"/>
<entry key="66" type="xstring" value="livestockprimary_production_production_meat-goat[t]"/>
<entry key="67" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-goat[hg/an]"/>
<entry key="68" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-goose-and-guinea-fowl[1000-head]"/>
<entry key="69" type="xstring" value="livestockprimary_production_production_meat-goose-and-guinea-fowl[t]"/>
<entry key="70" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-goose-and-guinea-fowl[0.1g/an]"/>
<entry key="71" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-horse[head]"/>
<entry key="72" type="xstring" value="livestockprimary_production_production_meat-horse[t]"/>
<entry key="73" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-horse[hg/an]"/>
<entry key="74" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-pig[head]"/>
<entry key="75" type="xstring" value="livestockprimary_production_production_meat-pig[t]"/>
<entry key="76" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-pig[hg/an]"/>
<entry key="77" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-rabbit[1000-head]"/>
<entry key="78" type="xstring" value="livestockprimary_production_production_meat-rabbit[t]"/>
<entry key="79" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-rabbit[0.1g/an]"/>
<entry key="80" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-sheep[head]"/>
<entry key="81" type="xstring" value="livestockprimary_production_production_meat-sheep[t]"/>
<entry key="82" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-sheep[hg/an]"/>
<entry key="83" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-turkey[1000-head]"/>
<entry key="84" type="xstring" value="livestockprimary_production_production_meat-turkey[t]"/>
<entry key="85" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-turkey[0.1g/an]"/>
<entry key="86" type="xstring" value="livestockprimary_production_milk-animals_milk-whole-fresh-cow[head]"/>
<entry key="87" type="xstring" value="livestockprimary_production_production_milk-whole-fresh-cow[t]"/>
<entry key="88" type="xstring" value="livestockprimary_production_yield_milk-whole-fresh-cow[hg/an]"/>
<entry key="89" type="xstring" value="livestockprimary_production_milk-animals_milk-whole-fresh-goat[head]"/>
<entry key="90" type="xstring" value="livestockprimary_production_production_milk-whole-fresh-goat[t]"/>
<entry key="91" type="xstring" value="livestockprimary_production_yield_milk-whole-fresh-goat[hg/an]"/>
<entry key="92" type="xstring" value="livestockprimary_production_milk-animals_milk-whole-fresh-sheep[head]"/>
<entry key="93" type="xstring" value="livestockprimary_production_production_milk-whole-fresh-sheep[t]"/>
<entry key="94" type="xstring" value="livestockprimary_production_yield_milk-whole-fresh-sheep[hg/an]"/>
<entry key="95" type="xstring" value="livestockprimary_production_milk-animals_milktotal[head]"/>
<entry key="96" type="xstring" value="livestockprimary_production_production_milktotal[t]"/>
<entry key="97" type="xstring" value="livestockprimary_production_yield_milktotal[hg/an]"/>
<entry key="98" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_sheep-and-goat-meat[head]"/>
<entry key="99" type="xstring" value="livestockprimary_production_production_sheep-and-goat-meat[t]"/>
<entry key="100" type="xstring" value="livestockprimary_production_yield/carcass-weight_sheep-and-goat-meat[hg/an]"/>
<entry key="101" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_skins-goat-fresh[head]"/>
<entry key="102" type="xstring" value="livestockprimary_production_production_skins-goat-fresh[t]"/>
<entry key="103" type="xstring" value="livestockprimary_production_yield_skins-goat-fresh[hg/an]"/>
<entry key="104" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_skins-sheep-fresh[head]"/>
<entry key="105" type="xstring" value="livestockprimary_production_production_skins-sheep-fresh[t]"/>
<entry key="106" type="xstring" value="livestockprimary_production_yield_skins-sheep-fresh[hg/an]"/>
<entry key="107" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_skins-sheep-with-wool[head]"/>
<entry key="108" type="xstring" value="livestockprimary_production_production_skins-sheep-with-wool[t]"/>
<entry key="109" type="xstring" value="livestockprimary_production_yield_skins-sheep-with-wool[hg/an]"/>
<entry key="110" type="xstring" value="livestockprimary_production_production_wool-greasy[t]"/>
<entry key="111" type="xstring" value="livestockprimary_production_production_beeswax[t]"/>
<entry key="112" type="xstring" value="livestockprimary_production_production_meat-nes[t]"/>
<entry key="113" type="xstring" value="livestockprimary_production_production_eggs-other-bird-in-shell-number[1000-no]"/>
<entry key="114" type="xstring" value="livestockprimary_production_laying_eggs-other-bird-in-shell[1000-head]"/>
<entry key="115" type="xstring" value="livestockprimary_production_production_eggs-other-bird-in-shell[t]"/>
<entry key="116" type="xstring" value="livestockprimary_production_yield_eggs-other-bird-in-shell[100mg/an]"/>
<entry key="117" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_hides-buffalo-fresh[head]"/>
<entry key="118" type="xstring" value="livestockprimary_production_production_hides-buffalo-fresh[t]"/>
<entry key="119" type="xstring" value="livestockprimary_production_yield_hides-buffalo-fresh[hg/an]"/>
<entry key="120" type="xstring" value="livestockprimary_production_production_meat-indigenous-ass[head]"/>
<entry key="121" type="xstring" value="livestockprimary_production_production_meat-indigenous-ass[t]"/>
<entry key="122" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-ass[hg/an]"/>
<entry key="123" type="xstring" value="livestockprimary_production_production_meat-indigenous-buffalo[head]"/>
<entry key="124" type="xstring" value="livestockprimary_production_production_meat-indigenous-buffalo[t]"/>
<entry key="125" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-buffalo[hg/an]"/>
<entry key="126" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-ass[head]"/>
<entry key="127" type="xstring" value="livestockprimary_production_production_meat-ass[t]"/>
<entry key="128" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-ass[hg/an]"/>
<entry key="129" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-bird-nes[1000-head]"/>
<entry key="130" type="xstring" value="livestockprimary_production_production_meat-bird-nes[t]"/>
<entry key="131" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-bird-nes[0.1g/an]"/>
<entry key="132" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-buffalo[head]"/>
<entry key="133" type="xstring" value="livestockprimary_production_production_meat-buffalo[t]"/>
<entry key="134" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-buffalo[hg/an]"/>
<entry key="135" type="xstring" value="livestockprimary_production_milk-animals_milk-whole-fresh-buffalo[head]"/>
<entry key="136" type="xstring" value="livestockprimary_production_production_milk-whole-fresh-buffalo[t]"/>
<entry key="137" type="xstring" value="livestockprimary_production_yield_milk-whole-fresh-buffalo[hg/an]"/>
<entry key="138" type="xstring" value="livestockprimary_production_production_silk-worm-cocoons-reelable[t]"/>
<entry key="139" type="xstring" value="livestockprimary_production_prod-popultn_beeswax[no]"/>
<entry key="140" type="xstring" value="livestockprimary_production_yield_beeswax[hg]"/>
<entry key="141" type="xstring" value="livestockprimary_production_prod-popultn_honey-natural[no]"/>
<entry key="142" type="xstring" value="livestockprimary_production_yield_honey-natural[hg]"/>
<entry key="143" type="xstring" value="livestockprimary_production_production_meat-indigenous-bird-nes[1000-head]"/>
<entry key="144" type="xstring" value="livestockprimary_production_production_meat-indigenous-bird-nes[t]"/>
<entry key="145" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-bird-nes[0.1g/an]"/>
<entry key="146" type="xstring" value="livestockprimary_production_prod-popultn_wool-greasy[head]"/>
<entry key="147" type="xstring" value="livestockprimary_production_yield_wool-greasy[hg]"/>
<entry key="148" type="xstring" value="livestockprimary_production_production_offals-nes[t]"/>
<entry key="149" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-nes[head]"/>
<entry key="150" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-nes[hg/an]"/>
<entry key="151" type="xstring" value="livestockprimary_production_production_meat-indigenous-mule[head]"/>
<entry key="152" type="xstring" value="livestockprimary_production_production_meat-indigenous-mule[t]"/>
<entry key="153" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-indigenous-mule[hg/an]"/>
<entry key="154" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-mule[head]"/>
<entry key="155" type="xstring" value="livestockprimary_production_production_meat-mule[t]"/>
<entry key="156" type="xstring" value="livestockprimary_production_yield/carcass-weight_meat-mule[hg/an]"/>
</config>
<entry key="type" type="xstring" value="Twinlist"/>
<entry key="limit_number_visible_options" type="xboolean" value="false"/>
<entry key="number_visible_options" type="xint" value="10"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.quickform.filter.column.ColumnFilterQuickFormNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.3.v202104281301"/>
<entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.3.v202105242123"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 122, Cols: 3"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="internalObjects">
<entry key="location" type="xstring" value="internalTables"/>
<config key="content">
<config key="object_0">
<entry key="index" type="xint" value="0"/>
<entry key="type" type="xstring" value="table"/>
<entry key="table_dir_location" type="xstring" value="object_0"/>
</config>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="ce469fe4-cce9-4330-bc48-57b23715036c"/>
</config>
</config>
