<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="row-id_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="row-id" type="xstring" value="values"/>
<config key="variable-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="81"/>
<entry key="0" type="xstring" value="lvr_self-sufficiency_cereals_barley-and-products[%]"/>
<entry key="1" type="xstring" value="lvr_self-sufficiency_cereals_barley-and-products[%] (index)"/>
<entry key="2" type="xstring" value="lvr_self-sufficiency_cereals_rice-milled-equivalent[%]"/>
<entry key="3" type="xstring" value="lvr_self-sufficiency_cereals_rice-milled-equivalent[%] (index)"/>
<entry key="4" type="xstring" value="lvr_self-sufficiency_cereals_cereal-others[%]"/>
<entry key="5" type="xstring" value="lvr_self-sufficiency_cereals_cereal-others[%] (index)"/>
<entry key="6" type="xstring" value="lvr_self-sufficiency_cereals_wheat-and-products[%]"/>
<entry key="7" type="xstring" value="lvr_self-sufficiency_cereals_wheat-and-products[%] (index)"/>
<entry key="8" type="xstring" value="lvr_self-sufficiency_cereals_rye-and-products[%]"/>
<entry key="9" type="xstring" value="lvr_self-sufficiency_cereals_rye-and-products[%] (index)"/>
<entry key="10" type="xstring" value="lvr_self-sufficiency_cereals_maize-and-products[%]"/>
<entry key="11" type="xstring" value="lvr_self-sufficiency_cereals_maize-and-products[%] (index)"/>
<entry key="12" type="xstring" value="lvr_self-sufficiency_non-food_alcohol-non-food[%]"/>
<entry key="13" type="xstring" value="lvr_self-sufficiency_non-food_alcohol-non-food[%] (index)"/>
<entry key="14" type="xstring" value="lvr_self-sufficiency_non-food_rubber[%]"/>
<entry key="15" type="xstring" value="lvr_self-sufficiency_non-food_rubber[%] (index)"/>
<entry key="16" type="xstring" value="lvr_self-sufficiency_non-food_fibre-crops[%]"/>
<entry key="17" type="xstring" value="lvr_self-sufficiency_non-food_fibre-crops[%] (index)"/>
<entry key="18" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beer[%]"/>
<entry key="19" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beer[%] (index)"/>
<entry key="20" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-alcoholic[%]"/>
<entry key="21" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-alcoholic[%] (index)"/>
<entry key="22" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-fermented[%]"/>
<entry key="23" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-fermented[%] (index)"/>
<entry key="24" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_wine[%]"/>
<entry key="25" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_wine[%] (index)"/>
<entry key="26" type="xstring" value="lvr_self-sufficiency_stimulants_coffee-and-products[%]"/>
<entry key="27" type="xstring" value="lvr_self-sufficiency_stimulants_coffee-and-products[%] (index)"/>
<entry key="28" type="xstring" value="lvr_self-sufficiency_non-food_tobacco[%]"/>
<entry key="29" type="xstring" value="lvr_self-sufficiency_non-food_tobacco[%] (index)"/>
<entry key="30" type="xstring" value="lvr_self-sufficiency_stimulants_tea-including-mate[%]"/>
<entry key="31" type="xstring" value="lvr_self-sufficiency_stimulants_tea-including-mate[%] (index)"/>
<entry key="32" type="xstring" value="lvr_self-sufficiency_stimulants_cocoa-beans-and-products[%]"/>
<entry key="33" type="xstring" value="lvr_self-sufficiency_stimulants_cocoa-beans-and-products[%] (index)"/>
<entry key="34" type="xstring" value="lvr_self-sufficiency_crops_pulses[%]"/>
<entry key="35" type="xstring" value="lvr_self-sufficiency_crops_pulses[%] (index)"/>
<entry key="36" type="xstring" value="lvr_self-sufficiency_crops_sugar-crops[%]"/>
<entry key="37" type="xstring" value="lvr_self-sufficiency_crops_sugar-crops[%] (index)"/>
<entry key="38" type="xstring" value="lvr_self-sufficiency_crops_sugar-&amp;-sweeteners[%]"/>
<entry key="39" type="xstring" value="lvr_self-sufficiency_crops_sugar-&amp;-sweeteners[%] (index)"/>
<entry key="40" type="xstring" value="lvr_self-sufficiency_crops_vegetables[%]"/>
<entry key="41" type="xstring" value="lvr_self-sufficiency_crops_vegetables[%] (index)"/>
<entry key="42" type="xstring" value="lvr_self-sufficiency_crops_fruits-excluding-wine[%]"/>
<entry key="43" type="xstring" value="lvr_self-sufficiency_crops_fruits-excluding-wine[%] (index)"/>
<entry key="44" type="xstring" value="lvr_self-sufficiency_crops_starchy-roots[%]"/>
<entry key="45" type="xstring" value="lvr_self-sufficiency_crops_starchy-roots[%] (index)"/>
<entry key="46" type="xstring" value="lvr_self-sufficiency_vegetable-oils_olive-oil[%]"/>
<entry key="47" type="xstring" value="lvr_self-sufficiency_vegetable-oils_olive-oil[%] (index)"/>
<entry key="48" type="xstring" value="lvr_self-sufficiency_vegetable-oils_vegetable-oil-others[%]"/>
<entry key="49" type="xstring" value="lvr_self-sufficiency_vegetable-oils_vegetable-oil-others[%] (index)"/>
<entry key="50" type="xstring" value="lvr_self-sufficiency_vegetable-oils_sunflowerseed-oil[%]"/>
<entry key="51" type="xstring" value="lvr_self-sufficiency_vegetable-oils_sunflowerseed-oil[%] (index)"/>
<entry key="52" type="xstring" value="lvr_self-sufficiency_vegetable-oils_soyabean-oil[%]"/>
<entry key="53" type="xstring" value="lvr_self-sufficiency_vegetable-oils_soyabean-oil[%] (index)"/>
<entry key="54" type="xstring" value="lvr_self-sufficiency_vegetable-oils_rape-and-mustard-oil[%]"/>
<entry key="55" type="xstring" value="lvr_self-sufficiency_vegetable-oils_rape-and-mustard-oil[%] (index)"/>
<entry key="56" type="xstring" value="lvr_self-sufficiency_vegetable-oils_palm-oil[%]"/>
<entry key="57" type="xstring" value="lvr_self-sufficiency_vegetable-oils_palm-oil[%] (index)"/>
<entry key="58" type="xstring" value="lvr_self-sufficiency_cakes_palm-cake[%]"/>
<entry key="59" type="xstring" value="lvr_self-sufficiency_cakes_palm-cake[%] (index)"/>
<entry key="60" type="xstring" value="lvr_self-sufficiency_cakes_cake-others[%]"/>
<entry key="61" type="xstring" value="lvr_self-sufficiency_cakes_cake-others[%] (index)"/>
<entry key="62" type="xstring" value="lvr_self-sufficiency_cakes_sunflowerseed-cake[%]"/>
<entry key="63" type="xstring" value="lvr_self-sufficiency_cakes_sunflowerseed-cake[%] (index)"/>
<entry key="64" type="xstring" value="lvr_self-sufficiency_cakes_soyabean-cake[%]"/>
<entry key="65" type="xstring" value="lvr_self-sufficiency_cakes_soyabean-cake[%] (index)"/>
<entry key="66" type="xstring" value="lvr_self-sufficiency_cakes_rape-and-mustard-cake[%]"/>
<entry key="67" type="xstring" value="lvr_self-sufficiency_cakes_rape-and-mustard-cake[%] (index)"/>
<entry key="68" type="xstring" value="lvr_self-sufficiency_oil-crops_olives[%]"/>
<entry key="69" type="xstring" value="lvr_self-sufficiency_oil-crops_olives[%] (index)"/>
<entry key="70" type="xstring" value="lvr_self-sufficiency_oil-crops_oilcrop-others[%]"/>
<entry key="71" type="xstring" value="lvr_self-sufficiency_oil-crops_oilcrop-others[%] (index)"/>
<entry key="72" type="xstring" value="lvr_self-sufficiency_oil-crops_sunflower-seed[%]"/>
<entry key="73" type="xstring" value="lvr_self-sufficiency_oil-crops_sunflower-seed[%] (index)"/>
<entry key="74" type="xstring" value="lvr_self-sufficiency_oil-crops_soyabeans[%]"/>
<entry key="75" type="xstring" value="lvr_self-sufficiency_oil-crops_soyabeans[%] (index)"/>
<entry key="76" type="xstring" value="lvr_self-sufficiency_oil-crops_rape-and-mustardseed[%]"/>
<entry key="77" type="xstring" value="lvr_self-sufficiency_oil-crops_rape-and-mustardseed[%] (index)"/>
<entry key="78" type="xstring" value="lvr_self-sufficiency_oil-crops_palm[%]"/>
<entry key="79" type="xstring" value="lvr_self-sufficiency_oil-crops_palm[%] (index)"/>
<entry key="80" type="xstring" value="knime.workspace"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="lvr_.*\]"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.flowvariable.variabletotablerow3.VariableToTable3NodeFactory"/>
<entry key="node-name" type="xstring" value="Variable to Table Row (deprecated)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.3.v202105242122"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.3.v202105242122"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Variable to Table Row (deprecated)"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 1, Cols: 24"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="98bf8263-f373-4323-bedb-6d663d1c8116"/>
</config>
</config>
