<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="years"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="2017"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="years"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="2017"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="defaultValue">
<config key="variable_value">
<entry key="array-size" type="xint" value="0"/>
</config>
</config>
<entry key="label" type="xstring" value="Filter"/>
<entry key="description" type="xstring" value="Enter Description"/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="hideInDialog" type="xboolean" value="false"/>
<entry key="required" type="xboolean" value="true"/>
<entry key="parameterName" type="xstring" value="years"/>
<entry key="customCSS" type="xstring" value=""/>
<entry key="flowvariablename" type="xstring" value="years"/>
<config key="possible_choices">
<entry key="array-size" type="xint" value="91"/>
<entry key="0" type="xstring" value="1960"/>
<entry key="1" type="xstring" value="1961"/>
<entry key="2" type="xstring" value="1962"/>
<entry key="3" type="xstring" value="1963"/>
<entry key="4" type="xstring" value="1964"/>
<entry key="5" type="xstring" value="1965"/>
<entry key="6" type="xstring" value="1966"/>
<entry key="7" type="xstring" value="1967"/>
<entry key="8" type="xstring" value="1968"/>
<entry key="9" type="xstring" value="1969"/>
<entry key="10" type="xstring" value="1970"/>
<entry key="11" type="xstring" value="1971"/>
<entry key="12" type="xstring" value="1972"/>
<entry key="13" type="xstring" value="1973"/>
<entry key="14" type="xstring" value="1974"/>
<entry key="15" type="xstring" value="1975"/>
<entry key="16" type="xstring" value="1976"/>
<entry key="17" type="xstring" value="1977"/>
<entry key="18" type="xstring" value="1978"/>
<entry key="19" type="xstring" value="1979"/>
<entry key="20" type="xstring" value="1980"/>
<entry key="21" type="xstring" value="1981"/>
<entry key="22" type="xstring" value="1982"/>
<entry key="23" type="xstring" value="1983"/>
<entry key="24" type="xstring" value="1984"/>
<entry key="25" type="xstring" value="1985"/>
<entry key="26" type="xstring" value="1986"/>
<entry key="27" type="xstring" value="1987"/>
<entry key="28" type="xstring" value="1988"/>
<entry key="29" type="xstring" value="1989"/>
<entry key="30" type="xstring" value="1990"/>
<entry key="31" type="xstring" value="1991"/>
<entry key="32" type="xstring" value="1992"/>
<entry key="33" type="xstring" value="1993"/>
<entry key="34" type="xstring" value="1994"/>
<entry key="35" type="xstring" value="1995"/>
<entry key="36" type="xstring" value="1996"/>
<entry key="37" type="xstring" value="1997"/>
<entry key="38" type="xstring" value="1998"/>
<entry key="39" type="xstring" value="1999"/>
<entry key="40" type="xstring" value="2000"/>
<entry key="41" type="xstring" value="2001"/>
<entry key="42" type="xstring" value="2002"/>
<entry key="43" type="xstring" value="2003"/>
<entry key="44" type="xstring" value="2004"/>
<entry key="45" type="xstring" value="2005"/>
<entry key="46" type="xstring" value="2006"/>
<entry key="47" type="xstring" value="2007"/>
<entry key="48" type="xstring" value="2008"/>
<entry key="49" type="xstring" value="2009"/>
<entry key="50" type="xstring" value="2010"/>
<entry key="51" type="xstring" value="2011"/>
<entry key="52" type="xstring" value="2012"/>
<entry key="53" type="xstring" value="2013"/>
<entry key="54" type="xstring" value="2014"/>
<entry key="55" type="xstring" value="2015"/>
<entry key="56" type="xstring" value="2016"/>
<entry key="57" type="xstring" value="2017"/>
<entry key="58" type="xstring" value="2018"/>
<entry key="59" type="xstring" value="2019"/>
<entry key="60" type="xstring" value="2020"/>
<entry key="61" type="xstring" value="2021"/>
<entry key="62" type="xstring" value="2022"/>
<entry key="63" type="xstring" value="2023"/>
<entry key="64" type="xstring" value="2024"/>
<entry key="65" type="xstring" value="2025"/>
<entry key="66" type="xstring" value="2026"/>
<entry key="67" type="xstring" value="2027"/>
<entry key="68" type="xstring" value="2028"/>
<entry key="69" type="xstring" value="2029"/>
<entry key="70" type="xstring" value="2030"/>
<entry key="71" type="xstring" value="2031"/>
<entry key="72" type="xstring" value="2032"/>
<entry key="73" type="xstring" value="2033"/>
<entry key="74" type="xstring" value="2034"/>
<entry key="75" type="xstring" value="2035"/>
<entry key="76" type="xstring" value="2036"/>
<entry key="77" type="xstring" value="2037"/>
<entry key="78" type="xstring" value="2038"/>
<entry key="79" type="xstring" value="2039"/>
<entry key="80" type="xstring" value="2040"/>
<entry key="81" type="xstring" value="2041"/>
<entry key="82" type="xstring" value="2042"/>
<entry key="83" type="xstring" value="2043"/>
<entry key="84" type="xstring" value="2044"/>
<entry key="85" type="xstring" value="2045"/>
<entry key="86" type="xstring" value="2046"/>
<entry key="87" type="xstring" value="2047"/>
<entry key="88" type="xstring" value="2048"/>
<entry key="89" type="xstring" value="2049"/>
<entry key="90" type="xstring" value="2050"/>
</config>
<entry key="type" type="xstring" value="Twinlist"/>
<entry key="limit_number_visible_options" type="xboolean" value="false"/>
<entry key="number_visible_options" type="xint" value="10"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="WARNING"/>
<entry key="message" type="xstring" value="Component does not have input data, execute upstream nodes first"/>
</config>
<entry key="factory" type="xstring" value="org.knime.js.base.node.quickform.selection.multiple.MultipleSelectionQuickFormNodeFactory"/>
<entry key="node-name" type="xstring" value="Multiple Selections"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.3.v202104281301"/>
<entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.3.v202105242123"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Multiple Selections"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
