<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="geo-scale"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="united-kingdom"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="calibration"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="enabled"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="geo-scale"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="united-kingdom"/>
</config>
<config key="Variable_3">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="calibration"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="enabled"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="variable-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="8"/>
<entry key="0" type="xstring" value="calibration"/>
<entry key="1" type="xstring" value="geo-scale"/>
<entry key="2" type="xstring" value="mda (index)"/>
<entry key="3" type="xstring" value="mda"/>
<entry key="4" type="xstring" value="fxa"/>
<entry key="5" type="xstring" value="path"/>
<entry key="6" type="xstring" value="lvr_lifestyles_others_tobacco[t] (index)"/>
<entry key="7" type="xstring" value="lvr_lifestyles_others_tobacco[t]"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="calibration|geo-scale"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
</config>
<entry key="variable-prefix" type="xstring" isnull="true" value=""/>
<config key="port-names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="model flow (input)"/>
</config>
<config key="port-descriptions">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="To plug to the flow"/>
</config>
<entry key="sub-node-description" type="xstring" value="The node computes the gap between the model and the actual historical data. Calibration factors are then applied for the future time series. Calibration node can be enabled or disabled in the workflow variable portal (right click on the workflow)"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="isDeletable" type="xboolean" value="false"/>
<entry key="factory" type="xstring" value="org.knime.core.node.workflow.virtual.subnode.VirtualSubNodeInputNodeFactory"/>
<entry key="node-name" type="xstring" value="Component Input"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Core API"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.core"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.3.v202105242123"/>
<entry key="node-feature-name" type="xstring" value="KNIME AP Core feature"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.core.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.3.v202105242123"/>
<config key="factory_settings">
<config key="port_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
</config>
<entry key="name" type="xstring" value="Component Input"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 122, Cols: 3517"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="82422ea8-e27b-4cf0-b306-007fa70ced0b"/>
</config>
</config>
