<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="expression" type="xstring" value="$$CURRENT_COLUMN$$*$${Dfactor}$$"/>
<entry key="replaced_column" type="xstring" value="_suffix"/>
<entry key="append_column" type="xboolean" value="true"/>
<entry key="convert_to_int" type="xboolean" value="false"/>
<config key="column_selection">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="17"/>
<entry key="0" type="xstring" value="livestockprimary_production_laying_eggs-primary[1000-head]"/>
<entry key="1" type="xstring" value="livestockprimary_production_laying_eggs-hen-in-shell[1000-head]"/>
<entry key="2" type="xstring" value="livestockprimary_production_production_meat-indigenous-chicken[1000-head]"/>
<entry key="3" type="xstring" value="livestockprimary_production_production_meat-indigenous-duck[1000-head]"/>
<entry key="4" type="xstring" value="livestockprimary_production_production_meat-indigenous-geese[1000-head]"/>
<entry key="5" type="xstring" value="livestockprimary_production_production_meat-indigenous-poultry[1000-head]"/>
<entry key="6" type="xstring" value="livestockprimary_production_production_meat-indigenous-rabbit[1000-head]"/>
<entry key="7" type="xstring" value="livestockprimary_production_production_meat-indigenous-turkey[1000-head]"/>
<entry key="8" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-poultry[1000-head]"/>
<entry key="9" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-chicken[1000-head]"/>
<entry key="10" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-duck[1000-head]"/>
<entry key="11" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-goose-and-guinea-fowl[1000-head]"/>
<entry key="12" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-rabbit[1000-head]"/>
<entry key="13" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-turkey[1000-head]"/>
<entry key="14" type="xstring" value="livestockprimary_production_laying_eggs-other-bird-in-shell[1000-head]"/>
<entry key="15" type="xstring" value="livestockprimary_production_producing-animals/slaughtered_meat-bird-nes[1000-head]"/>
<entry key="16" type="xstring" value="livestockprimary_production_production_meat-indigenous-bird-nes[1000-head]"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.ext.jep.multicolumn.MultiColumnJEPNodeFactory"/>
<entry key="node-name" type="xstring" value="Math Formula (Multi Column)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Math Expression Node"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.jep"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.0.v202011191509"/>
<entry key="node-feature-name" type="xstring" value="KNIME Math Expression (JEP)"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.jep.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.0.v202011191509"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Math Formula (Multi Column)"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 122, Cols: 3"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="770746bb-832a-4150-8ac5-f8a25098eea9"/>
</config>
</config>
