<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="RowID"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value=""/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="RowID"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="values"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="missing_value_policy_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="missing_value_policy" type="xstring" value="DEFAULT"/>
<config key="default_value_string_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="default_value_string" type="xstring" value="missing"/>
<config key="default_value_boolean_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="default_value_boolean" type="xstring" value="false"/>
<config key="default_value_integer_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="default_value_integer" type="xint" value="0"/>
<config key="default_value_long_Internals">
<entry key="SettingsModelID" type="xstring" value="SMN_long"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="default_value_long" type="xlong" value="0"/>
<config key="default_value_double_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_double"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="default_value_double" type="xdouble" value="0.0"/>
<config key="column_selection_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="column_selection">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="188"/>
<entry key="0" type="xstring" value="lvr_lifestyles_diet_split[t]"/>
<entry key="1" type="xstring" value="lvr_lifestyles_others_tobacco[t]"/>
<entry key="2" type="xstring" value="lvr_other-supply_seeds_seeds[t]"/>
<entry key="3" type="xstring" value="lvr_other-supply_other-nes_other-nes[t]"/>
<entry key="4" type="xstring" value="lvr_other-supply_losses_distribution[%]"/>
<entry key="5" type="xstring" value="lvr_self-sufficiency_cereals_barley-and-products[%]"/>
<entry key="6" type="xstring" value="lvr_self-sufficiency_cereals_rice-milled-equivalent[%]"/>
<entry key="7" type="xstring" value="lvr_self-sufficiency_cereals_cereal-others[%]"/>
<entry key="8" type="xstring" value="lvr_self-sufficiency_cereals_wheat-and-products[%]"/>
<entry key="9" type="xstring" value="lvr_self-sufficiency_cereals_rye-and-products[%]"/>
<entry key="10" type="xstring" value="lvr_self-sufficiency_cereals_maize-and-products[%]"/>
<entry key="11" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beer[%]"/>
<entry key="12" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-alcoholic[%]"/>
<entry key="13" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-fermented[%]"/>
<entry key="14" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_wine[%]"/>
<entry key="15" type="xstring" value="lvr_self-sufficiency_stimulants_coffee-and-products[%]"/>
<entry key="16" type="xstring" value="lvr_self-sufficiency_stimulants_tea-including-mate[%]"/>
<entry key="17" type="xstring" value="lvr_self-sufficiency_stimulants_cocoa-beans-and-products[%]"/>
<entry key="18" type="xstring" value="lvr_self-sufficiency_other-crops_pulses[%]"/>
<entry key="19" type="xstring" value="lvr_self-sufficiency_other-crops_sugar-crops[%]"/>
<entry key="20" type="xstring" value="lvr_self-sufficiency_other-crops_sugar-&amp;-sweeteners[%]"/>
<entry key="21" type="xstring" value="lvr_self-sufficiency_other-crops_vegetables[%]"/>
<entry key="22" type="xstring" value="lvr_self-sufficiency_other-crops_fruits-excluding-wine[%]"/>
<entry key="23" type="xstring" value="lvr_self-sufficiency_other-crops_starchy-roots[%]"/>
<entry key="24" type="xstring" value="lvr_self-sufficiency_vegetable-oils_olive-oil[%]"/>
<entry key="25" type="xstring" value="lvr_self-sufficiency_vegetable-oils_vegetable-oil-others[%]"/>
<entry key="26" type="xstring" value="lvr_self-sufficiency_vegetable-oils_sunflowerseed-oil[%]"/>
<entry key="27" type="xstring" value="lvr_self-sufficiency_vegetable-oils_soyabean-oil[%]"/>
<entry key="28" type="xstring" value="lvr_self-sufficiency_vegetable-oils_rape-and-mustard-oil[%]"/>
<entry key="29" type="xstring" value="lvr_self-sufficiency_vegetable-oils_palm-oil[%]"/>
<entry key="30" type="xstring" value="lvr_self-sufficiency_cakes_palm-cake[%]"/>
<entry key="31" type="xstring" value="lvr_self-sufficiency_cakes_cake-others[%]"/>
<entry key="32" type="xstring" value="lvr_self-sufficiency_cakes_sunflowerseed-cake[%]"/>
<entry key="33" type="xstring" value="lvr_self-sufficiency_cakes_soyabean-cake[%]"/>
<entry key="34" type="xstring" value="lvr_self-sufficiency_cakes_rape-and-mustard-cake[%]"/>
<entry key="35" type="xstring" value="lvr_self-sufficiency_oil-crops_olives[%]"/>
<entry key="36" type="xstring" value="lvr_self-sufficiency_oil-crops_oilcrop-others[%]"/>
<entry key="37" type="xstring" value="lvr_self-sufficiency_oil-crops_sunflower-seed[%]"/>
<entry key="38" type="xstring" value="lvr_self-sufficiency_oil-crops_soyabeans[%]"/>
<entry key="39" type="xstring" value="lvr_self-sufficiency_oil-crops_rape-and-mustardseed[%]"/>
<entry key="40" type="xstring" value="lvr_self-sufficiency_oil-crops_palm[%]"/>
<entry key="41" type="xstring" value="lvr_self-sufficiency_meat_bovine-meat[%]"/>
<entry key="42" type="xstring" value="lvr_self-sufficiency_meat_mutton-&amp;-goat-meat[%]"/>
<entry key="43" type="xstring" value="lvr_self-sufficiency_meat_pigmeat[%]"/>
<entry key="44" type="xstring" value="lvr_self-sufficiency_meat_poultry-meat[%]"/>
<entry key="45" type="xstring" value="lvr_self-sufficiency_meat_meat-other[%]"/>
<entry key="46" type="xstring" value="lvr_self-sufficiency_animal-products_milk-excluding-butter[%]"/>
<entry key="47" type="xstring" value="lvr_self-sufficiency_animal-products_eggs[%]"/>
<entry key="48" type="xstring" value="lvr_self-sufficiency_animal-products_offals[%]"/>
<entry key="49" type="xstring" value="lvr_self-sufficiency_animal-products_animal-fats[%]"/>
<entry key="50" type="xstring" value="lvr_self-sufficiency_seafood_fish-seafood[%]"/>
<entry key="51" type="xstring" value="lvr_self-sufficiency_non-food_tobacco[%]"/>
<entry key="52" type="xstring" value="lvr_self-sufficiency_non-food_alcohol-non-food[%]"/>
<entry key="53" type="xstring" value="lvr_self-sufficiency_non-food_rubber[%]"/>
<entry key="54" type="xstring" value="lvr_self-sufficiency_non-food_fibre-crops[%]"/>
<entry key="55" type="xstring" value="lvr_bio-sourced_materials_alcohol-non-food[%]"/>
<entry key="56" type="xstring" value="lvr_bio-sourced_materials_rubber[%]"/>
<entry key="57" type="xstring" value="lvr_bio-sourced_materials_fibre-crops[%]"/>
<entry key="58" type="xstring" value="lvr_crops_residues_exported[%]"/>
<entry key="59" type="xstring" value="lvr_food-industry_by-products_sugar-industry[%]"/>
<entry key="60" type="xstring" value="lvr_processing_sugar-crops_sugar-&amp;-sweeteners[%]"/>
<entry key="61" type="xstring" value="lvr_food-industry_by-products_livestock-industry[%]"/>
<entry key="62" type="xstring" value="lvr_food-industry_feedstock-split_alcohol-industry[%]"/>
<entry key="63" type="xstring" value="lvr_food-industry_by-products_alcohol-industry[%]"/>
<entry key="64" type="xstring" value="lvr_food-industry_by-products_beer-industry[%]"/>
<entry key="65" type="xstring" value="lvr_food-industry_by-products_wine-industry[%]"/>
<entry key="66" type="xstring" value="lvr_livestock_raising_non-dairy-cattle[-]"/>
<entry key="67" type="xstring" value="lvr_livestock_raising_dairy-cattle[-]"/>
<entry key="68" type="xstring" value="lvr_livestock_raising_broilers-poultry[-]"/>
<entry key="69" type="xstring" value="lvr_livestock_raising_pigs[-]"/>
<entry key="70" type="xstring" value="lvr_livestock_raising_mutton-&amp;-goats[-]"/>
<entry key="71" type="xstring" value="lvr_livestock_raising_laying-poultry[-]"/>
<entry key="72" type="xstring" value="lvr_livestock_raising_dairy-mutton-&amp;-goats[-]"/>
<entry key="73" type="xstring" value="lvr_livestock_raising_other-animals[-]"/>
<entry key="74" type="xstring" value="lvr_livestock_feed-sources_all-animals[-]"/>
<entry key="75" type="xstring" value="lvr_livestock_density_grazing[lsu/ha]"/>
<entry key="76" type="xstring" value="lvr_livestock_ration-split_all-animals[-]"/>
<entry key="77" type="xstring" value="lvr_livestock_fat-yields_non-dairy-cattle[t/lsu]"/>
<entry key="78" type="xstring" value="lvr_livestock_fat-yields_dairy-cattle[t/lsu]"/>
<entry key="79" type="xstring" value="lvr_livestock_fat-yields_dairy-mutton-&amp;-goats[t/lsu]"/>
<entry key="80" type="xstring" value="lvr_livestock_fat-yields_pigs[t/lsu]"/>
<entry key="81" type="xstring" value="lvr_livestock_fat-yields_mutton-&amp;-goats[t/lsu]"/>
<entry key="82" type="xstring" value="lvr_livestock_pasture-land_temp-perm[-]"/>
<entry key="83" type="xstring" value="lvr_solid-biofuels_power-only_nominal-capacity[mw]"/>
<entry key="84" type="xstring" value="lvr_solid-biofuels_heat-only_nominal-capacity[mw]"/>
<entry key="85" type="xstring" value="lvr_solid-biofuels_power-chp_nominal-capacity[mw]"/>
<entry key="86" type="xstring" value="lvr_biogas_thermal-processes_nominal-capacity[toe]"/>
<entry key="87" type="xstring" value="lvr_biogas_anaerobic-fermentation_nominal-capacity[toe]"/>
<entry key="88" type="xstring" value="lvr_biogas_sewage-sludge_nominal-capacity[toe]"/>
<entry key="89" type="xstring" value="lvr_biogas_landfill_nominal-capacity[toe]"/>
<entry key="90" type="xstring" value="lvr_biogas_market-split_biogas-to-x[toe]"/>
<entry key="91" type="xstring" value="lvr_liquid-biofuels_fame_nominal-capacity[toe]"/>
<entry key="92" type="xstring" value="lvr_liquid-biofuels_hvo_nominal-capacity[toe]"/>
<entry key="93" type="xstring" value="lvr_liquid-biofuels_bioethanol_nominal-capacity[toe]"/>
<entry key="94" type="xstring" value="lvr_liquid-biofuels_cellulosic-ethanol_nominal-capacity[toe]"/>
<entry key="95" type="xstring" value="lvr_liquid-biofuels_btl_nominal-capacity[toe]"/>
<entry key="96" type="xstring" value="lvr_liquid-biofuels_others_nominal-capacity[toe]"/>
<entry key="97" type="xstring" value="lvr_solid-biofuels_feedstock-split_excluding-animal-wastes[%]"/>
<entry key="98" type="xstring" value="lvr_biogas_thermal-processes_feedstock-split[%]"/>
<entry key="99" type="xstring" value="lvr_biogas_anaerobic-fermentation_feedstock-split[%]"/>
<entry key="100" type="xstring" value="lvr_liquid-biofuels_fame_feedstock-split[%]"/>
<entry key="101" type="xstring" value="lvr_liquid-biofuels_hvo_feedstock-split[%]"/>
<entry key="102" type="xstring" value="lvr_liquid-biofuels_bioethanol_feedstock-split[%]"/>
<entry key="103" type="xstring" value="lvr_liquid-biofuels_cellulosic-ethanol_feedstock-split[%]"/>
<entry key="104" type="xstring" value="lvr_liquid-biofuels_btl_feedstock-split[%]"/>
<entry key="105" type="xstring" value="lvr_liquid-biofuels_others_feedstock-split[%]"/>
<entry key="106" type="xstring" value="lvr_solid-biofuels_power-only_load-factor[%]"/>
<entry key="107" type="xstring" value="lvr_solid-biofuels_heat-only_load-factor[%]"/>
<entry key="108" type="xstring" value="lvr_solid-biofuels_power-chp_load-factor[%]"/>
<entry key="109" type="xstring" value="lvr_biogas_power-only_efficiency[%]"/>
<entry key="110" type="xstring" value="lvr_solid-biofuels_power-only_efficiency[%]"/>
<entry key="111" type="xstring" value="lvr_biogas_heat-only_efficiency[%]"/>
<entry key="112" type="xstring" value="lvr_solid-biofuels_heat-only_efficiency[%]"/>
<entry key="113" type="xstring" value="lvr_biogas_power-chp_efficiency[%]"/>
<entry key="114" type="xstring" value="lvr_solid-biofuels_power-chp_efficiency[%]"/>
<entry key="115" type="xstring" value="lvr_biogas_power-chp_cogeneration-ratio[%]"/>
<entry key="116" type="xstring" value="lvr_solid-biofuels_power-chp_cogeneration-ratio[%]"/>
<entry key="117" type="xstring" value="lvr_crops_wastes-and-losses_wheat-and-products[%]"/>
<entry key="118" type="xstring" value="lvr_crops_gross-yields_wheat-and-products[%]"/>
<entry key="119" type="xstring" value="lvr_crops_wastes-and-losses_barley-and-products[%]"/>
<entry key="120" type="xstring" value="lvr_crops_gross-yields_barley-and-products[%]"/>
<entry key="121" type="xstring" value="lvr_crops_wastes-and-losses_maize-and-products[%]"/>
<entry key="122" type="xstring" value="lvr_crops_gross-yields_maize-and-products[%]"/>
<entry key="123" type="xstring" value="lvr_crops_wastes-and-losses_rye-and-products[%]"/>
<entry key="124" type="xstring" value="lvr_crops_gross-yields_rye-and-products[%]"/>
<entry key="125" type="xstring" value="lvr_crops_wastes-and-losses_cereal-others[%]"/>
<entry key="126" type="xstring" value="lvr_crops_gross-yields_cereal-others[%]"/>
<entry key="127" type="xstring" value="lvr_crops_wastes-and-losses_paddy-rice[%]"/>
<entry key="128" type="xstring" value="lvr_crops_gross-yields_paddy-rice[%]"/>
<entry key="129" type="xstring" value="lvr_crops_wastes-and-losses_rape-and-mustardseed[%]"/>
<entry key="130" type="xstring" value="lvr_crops_gross-yields_rape-and-mustardseed[%]"/>
<entry key="131" type="xstring" value="lvr_crops_wastes-and-losses_sunflower-seed[%]"/>
<entry key="132" type="xstring" value="lvr_crops_gross-yields_sunflower-seed[%]"/>
<entry key="133" type="xstring" value="lvr_crops_wastes-and-losses_soyabeans[%]"/>
<entry key="134" type="xstring" value="lvr_crops_gross-yields_soyabeans[%]"/>
<entry key="135" type="xstring" value="lvr_crops_wastes-and-losses_palm[%]"/>
<entry key="136" type="xstring" value="lvr_crops_gross-yields_palm[%]"/>
<entry key="137" type="xstring" value="lvr_crops_wastes-and-losses_oilcrop-others[%]"/>
<entry key="138" type="xstring" value="lvr_crops_gross-yields_oilcrop-others[%]"/>
<entry key="139" type="xstring" value="lvr_crops_wastes-and-losses_olives[%]"/>
<entry key="140" type="xstring" value="lvr_crops_gross-yields_olives[%]"/>
<entry key="141" type="xstring" value="lvr_crops_wastes-and-losses_fruits-excluding-wine[%]"/>
<entry key="142" type="xstring" value="lvr_crops_gross-yields_fruits-excluding-wine[%]"/>
<entry key="143" type="xstring" value="lvr_crops_wastes-and-losses_grapes[%]"/>
<entry key="144" type="xstring" value="lvr_crops_gross-yields_grapes[%]"/>
<entry key="145" type="xstring" value="lvr_crops_wastes-and-losses_vegetables[%]"/>
<entry key="146" type="xstring" value="lvr_crops_gross-yields_vegetables[%]"/>
<entry key="147" type="xstring" value="lvr_crops_wastes-and-losses_starchy-roots[%]"/>
<entry key="148" type="xstring" value="lvr_crops_gross-yields_starchy-roots[%]"/>
<entry key="149" type="xstring" value="lvr_crops_wastes-and-losses_pulses[%]"/>
<entry key="150" type="xstring" value="lvr_crops_gross-yields_pulses[%]"/>
<entry key="151" type="xstring" value="lvr_crops_wastes-and-losses_sugar-crops[%]"/>
<entry key="152" type="xstring" value="lvr_crops_gross-yields_sugar-crops[%]"/>
<entry key="153" type="xstring" value="lvr_crops_wastes-and-losses_coffee-and-products[%]"/>
<entry key="154" type="xstring" value="lvr_crops_gross-yields_coffee-and-products[%]"/>
<entry key="155" type="xstring" value="lvr_crops_wastes-and-losses_cocoa-beans-and-products[%]"/>
<entry key="156" type="xstring" value="lvr_crops_gross-yields_cocoa-beans-and-products[%]"/>
<entry key="157" type="xstring" value="lvr_crops_wastes-and-losses_tea-including-mate[%]"/>
<entry key="158" type="xstring" value="lvr_crops_gross-yields_tea-including-mate[%]"/>
<entry key="159" type="xstring" value="lvr_crops_wastes-and-losses_tobacco[%]"/>
<entry key="160" type="xstring" value="lvr_crops_gross-yields_tobacco[%]"/>
<entry key="161" type="xstring" value="lvr_crops_wastes-and-losses_fibre-crops[%]"/>
<entry key="162" type="xstring" value="lvr_crops_gross-yields_fibre-crops[%]"/>
<entry key="163" type="xstring" value="lvr_crops_wastes-and-losses_rubber[%]"/>
<entry key="164" type="xstring" value="lvr_crops_gross-yields_rubber[%]"/>
<entry key="165" type="xstring" value="lvr_crops_cropland_fallow[ha]"/>
<entry key="166" type="xstring" value="lvr_crops_residues_burnt[%]"/>
<entry key="167" type="xstring" value="lvr_crops_agricultural-practices_intercropping[%]"/>
<entry key="168" type="xstring" value="lvr_crops_agricultural-practices_urea[t/ha]"/>
<entry key="169" type="xstring" value="lvr_crops_agricultural-practices_liming[t/ha]"/>
<entry key="170" type="xstring" value="lvr_crops_agricultural-practices_n-balance[t/ha]"/>
<entry key="171" type="xstring" value="lvr_crops_agricultural-practices_energy-use[t/ha]"/>
<entry key="172" type="xstring" value="lvr_crops_agricultural-practices_energy-split[t/ha]"/>
<entry key="173" type="xstring" value="lvr_land-dynamics_converted-land_cropland[%]"/>
<entry key="174" type="xstring" value="lvr_crops_conservation_area[%]"/>
<entry key="175" type="xstring" value="lvr_international-trends_climate_irrigation[-]"/>
<entry key="176" type="xstring" value="lvr_international-trends_climate_climate-shifter[-]"/>
<entry key="177" type="xstring" value="lvr_land-dynamics_organic-share_cropland[%]"/>
<entry key="178" type="xstring" value="lvr_land-dynamics_organic-share_grassland[%]"/>
<entry key="179" type="xstring" value="lvr_land-dynamics_organic-share_other-lands[%]"/>
<entry key="180" type="xstring" value="lvr_crops_agricultural-practices_drained-organic-soils[%]"/>
<entry key="181" type="xstring" value="lvr_livestock_agricultural-practices_drained-organic-soils[%]"/>
<entry key="182" type="xstring" value="lvr_crops_agroforestry_cropland[%]"/>
<entry key="183" type="xstring" value="lvr_crops_agroforestry_meadows-hedges[%]"/>
<entry key="184" type="xstring" value="lvr_crops_agroforestry_meadows-and-pastures[%]"/>
<entry key="185" type="xstring" value="lvr_crops_agroforestry_cropland-hedges[%]"/>
<entry key="186" type="xstring" value="lvr_international-trends_energy-system_electricity[-]"/>
<entry key="187" type="xstring" value="lvr_international-trends_imports_all-commodity[%]"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.flowvariable.tablerowtovariable3.TableToVariable3NodeFactory"/>
<entry key="node-name" type="xstring" value="Table Row to Variable"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.3.v202105242122"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.3.v202105242122"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Table Row to Variable"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
<entry key="port_object_summary" type="xstring" value="Variables connection"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="f53fad5d-75c6-41bf-bd0d-593bfce636de"/>
</config>
</config>
