<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="39"/>
<entry key="0" type="xstring" value="Country"/>
<entry key="1" type="xstring" value="caf_food-domestic-supply_fish-seafood[t]"/>
<entry key="2" type="xstring" value="caf_food-domestic-supply_fruits-excluding-wine[t]"/>
<entry key="3" type="xstring" value="caf_food-domestic-supply_sugar-&amp;-sweeteners[t]"/>
<entry key="4" type="xstring" value="caf_food-domestic-supply_barley-and-products[t]"/>
<entry key="5" type="xstring" value="caf_food-domestic-supply_beer[t]"/>
<entry key="6" type="xstring" value="caf_food-domestic-supply_beverages-alcoholic[t]"/>
<entry key="7" type="xstring" value="caf_food-domestic-supply_beverages-fermented[t]"/>
<entry key="8" type="xstring" value="caf_food-domestic-supply_bovine-meat[t]"/>
<entry key="9" type="xstring" value="caf_food-domestic-supply_cereal-others[t]"/>
<entry key="10" type="xstring" value="caf_food-domestic-supply_cocoa-beans-and-products[t]"/>
<entry key="11" type="xstring" value="caf_food-domestic-supply_coffee-and-products[t]"/>
<entry key="12" type="xstring" value="caf_food-domestic-supply_eggs[t]"/>
<entry key="13" type="xstring" value="caf_food-domestic-supply_maize-and-products[t]"/>
<entry key="14" type="xstring" value="caf_food-domestic-supply_meat-other[t]"/>
<entry key="15" type="xstring" value="caf_food-domestic-supply_milk-excluding-butter[t]"/>
<entry key="16" type="xstring" value="caf_food-domestic-supply_mutton-&amp;-goat-meat[t]"/>
<entry key="17" type="xstring" value="caf_food-domestic-supply_offals[t]"/>
<entry key="18" type="xstring" value="caf_food-domestic-supply_oilcrop-others[t]"/>
<entry key="19" type="xstring" value="caf_food-domestic-supply_olive-oil[t]"/>
<entry key="20" type="xstring" value="caf_food-domestic-supply_olives-including-preserved[t]"/>
<entry key="21" type="xstring" value="caf_food-domestic-supply_palm-oil[t]"/>
<entry key="22" type="xstring" value="caf_food-domestic-supply_pigmeat[t]"/>
<entry key="23" type="xstring" value="caf_food-domestic-supply_poultry-meat[t]"/>
<entry key="24" type="xstring" value="caf_food-domestic-supply_pulses[t]"/>
<entry key="25" type="xstring" value="caf_food-domestic-supply_rape-and-mustard-oil[t]"/>
<entry key="26" type="xstring" value="caf_food-domestic-supply_rape-and-mustardseed[t]"/>
<entry key="27" type="xstring" value="caf_food-domestic-supply_rice-milled-equivalent[t]"/>
<entry key="28" type="xstring" value="caf_food-domestic-supply_rye-and-products[t]"/>
<entry key="29" type="xstring" value="caf_food-domestic-supply_soyabean-oil[t]"/>
<entry key="30" type="xstring" value="caf_food-domestic-supply_soyabeans[t]"/>
<entry key="31" type="xstring" value="caf_food-domestic-supply_starchy-roots[t]"/>
<entry key="32" type="xstring" value="caf_food-domestic-supply_sunflower-seed[t]"/>
<entry key="33" type="xstring" value="caf_food-domestic-supply_sunflowerseed-oil[t]"/>
<entry key="34" type="xstring" value="caf_food-domestic-supply_tea-including-mate[t]"/>
<entry key="35" type="xstring" value="caf_food-domestic-supply_vegetables[t]"/>
<entry key="36" type="xstring" value="caf_food-domestic-supply_wheat-and-products[t]"/>
<entry key="37" type="xstring" value="caf_food-domestic-supply_wine[t]"/>
<entry key="38" type="xstring" value="caf_food-domestic-supply_palm[t]"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="caf.*"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.3.v202105242122"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.3.v202105242122"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 2, Cols: 22"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="73610acf-d193-41d2-bc7f-8d9636a4b926"/>
</config>
</config>
