<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="geo-scale"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="united-kingdom"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="calibration"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="enabled"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="user-path"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="arise-knime"/>
</config>
<config key="Variable_3">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="geo-scale"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="united-kingdom"/>
</config>
<config key="Variable_4">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="calibration"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="enabled"/>
</config>
<config key="Variable_5">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="user-path"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="arise-knime"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="variable-filter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="421"/>
<entry key="0" type="xstring" value="design-by"/>
<entry key="1" type="xstring" value="path-reader (index)"/>
<entry key="2" type="xstring" value="path-reader"/>
<entry key="3" type="xstring" value="path-name"/>
<entry key="4" type="xstring" value="user-path"/>
<entry key="5" type="xstring" value="debug-mode"/>
<entry key="6" type="xstring" value="calibration"/>
<entry key="7" type="xstring" value="geo-scale"/>
<entry key="8" type="xstring" value="lvr_international-trends_climate_climate-shifter[-] (index)"/>
<entry key="9" type="xstring" value="lvr_international-trends_climate_climate-shifter[-]"/>
<entry key="10" type="xstring" value="lvr_international-trends_imports_all-commodity[%] (index)"/>
<entry key="11" type="xstring" value="lvr_international-trends_imports_all-commodity[%]"/>
<entry key="12" type="xstring" value="lvr_international-trends_energy-system_electricity[-] (index)"/>
<entry key="13" type="xstring" value="lvr_international-trends_energy-system_electricity[-]"/>
<entry key="14" type="xstring" value="lvr_crops_agroforestry_cropland-hedges[%] (index)"/>
<entry key="15" type="xstring" value="lvr_crops_agroforestry_cropland-hedges[%]"/>
<entry key="16" type="xstring" value="lvr_crops_agroforestry_meadows-and-pastures[%] (index)"/>
<entry key="17" type="xstring" value="lvr_crops_agroforestry_meadows-and-pastures[%]"/>
<entry key="18" type="xstring" value="lvr_crops_agroforestry_meadows-and-pastures-hedges[%] (index)"/>
<entry key="19" type="xstring" value="lvr_crops_agroforestry_meadows-and-pastures-hedges[%]"/>
<entry key="20" type="xstring" value="lvr_crops_agroforestry_cropland[%] (index)"/>
<entry key="21" type="xstring" value="lvr_crops_agroforestry_cropland[%]"/>
<entry key="22" type="xstring" value="m-lvr_agroforestry[-] (index)"/>
<entry key="23" type="xstring" value="m-lvr_agroforestry[-]"/>
<entry key="24" type="xstring" value="lvr_crops_agroforestry_area[%]"/>
<entry key="25" type="xstring" value="meta-lever (index)"/>
<entry key="26" type="xstring" value="meta-lever"/>
<entry key="27" type="xstring" value="lvr_land-dynamics_organic-share_grassland[%] (index)"/>
<entry key="28" type="xstring" value="lvr_land-dynamics_organic-share_grassland[%]"/>
<entry key="29" type="xstring" value="lvr_land-dynamics_organic-share_other-lands[%] (index)"/>
<entry key="30" type="xstring" value="lvr_land-dynamics_organic-share_other-lands[%]"/>
<entry key="31" type="xstring" value="lvr_livestock_agricultural-practices_drained-organic-soils[%] (index)"/>
<entry key="32" type="xstring" value="lvr_livestock_agricultural-practices_drained-organic-soils[%]"/>
<entry key="33" type="xstring" value="lvr_crops_agricultural-practices_drained-organic-soils[%] (index)"/>
<entry key="34" type="xstring" value="lvr_crops_agricultural-practices_drained-organic-soils[%]"/>
<entry key="35" type="xstring" value="lvr_land-dynamics_organic-share_cropland[%] (index)"/>
<entry key="36" type="xstring" value="lvr_land-dynamics_organic-share_cropland[%]"/>
<entry key="37" type="xstring" value="lvr_crops_gross-yields_sunflower-seed[%] (index)"/>
<entry key="38" type="xstring" value="lvr_crops_gross-yields_sunflower-seed[%]"/>
<entry key="39" type="xstring" value="lvr_crops_gross-yields_soyabeans[%] (index)"/>
<entry key="40" type="xstring" value="lvr_crops_gross-yields_soyabeans[%]"/>
<entry key="41" type="xstring" value="lvr_crops_gross-yields_palm[%] (index)"/>
<entry key="42" type="xstring" value="lvr_crops_gross-yields_palm[%]"/>
<entry key="43" type="xstring" value="lvr_crops_gross-yields_oilcrop-others[%] (index)"/>
<entry key="44" type="xstring" value="lvr_crops_gross-yields_oilcrop-others[%]"/>
<entry key="45" type="xstring" value="lvr_crops_gross-yields_olives[%] (index)"/>
<entry key="46" type="xstring" value="lvr_crops_gross-yields_olives[%]"/>
<entry key="47" type="xstring" value="lvr_crops_gross-yields_rape-and-mustardseed[%] (index)"/>
<entry key="48" type="xstring" value="lvr_crops_gross-yields_rape-and-mustardseed[%]"/>
<entry key="49" type="xstring" value="lvr_crops_gross-yields_vegetables[%] (index)"/>
<entry key="50" type="xstring" value="lvr_crops_gross-yields_vegetables[%]"/>
<entry key="51" type="xstring" value="lvr_crops_gross-yields_grapes[%] (index)"/>
<entry key="52" type="xstring" value="lvr_crops_gross-yields_grapes[%]"/>
<entry key="53" type="xstring" value="lvr_crops_gross-yields_pulses[%] (index)"/>
<entry key="54" type="xstring" value="lvr_crops_gross-yields_pulses[%]"/>
<entry key="55" type="xstring" value="lvr_crops_gross-yields_starchy-roots[%] (index)"/>
<entry key="56" type="xstring" value="lvr_crops_gross-yields_starchy-roots[%]"/>
<entry key="57" type="xstring" value="lvr_crops_gross-yields_sugar-crops[%] (index)"/>
<entry key="58" type="xstring" value="lvr_crops_gross-yields_sugar-crops[%]"/>
<entry key="59" type="xstring" value="lvr_crops_gross-yields_fruits-excluding-wine[%] (index)"/>
<entry key="60" type="xstring" value="lvr_crops_gross-yields_fruits-excluding-wine[%]"/>
<entry key="61" type="xstring" value="lvr_crops_gross-yields_cocoa-beans-and-products[%] (index)"/>
<entry key="62" type="xstring" value="lvr_crops_gross-yields_cocoa-beans-and-products[%]"/>
<entry key="63" type="xstring" value="lvr_crops_gross-yields_tea-including-mate[%] (index)"/>
<entry key="64" type="xstring" value="lvr_crops_gross-yields_tea-including-mate[%]"/>
<entry key="65" type="xstring" value="lvr_crops_gross-yields_tobacco[%] (index)"/>
<entry key="66" type="xstring" value="lvr_crops_gross-yields_tobacco[%]"/>
<entry key="67" type="xstring" value="lvr_crops_gross-yields_coffee-and-products[%] (index)"/>
<entry key="68" type="xstring" value="lvr_crops_gross-yields_coffee-and-products[%]"/>
<entry key="69" type="xstring" value="lvr_crops_gross-yields_rubber[%] (index)"/>
<entry key="70" type="xstring" value="lvr_crops_gross-yields_rubber[%]"/>
<entry key="71" type="xstring" value="lvr_crops_gross-yields_fibre-crops[%] (index)"/>
<entry key="72" type="xstring" value="lvr_crops_gross-yields_fibre-crops[%]"/>
<entry key="73" type="xstring" value="lvr_crops_cropland_fallow[ha] (index)"/>
<entry key="74" type="xstring" value="lvr_crops_agricultural-practices_intercropping[%] (index)"/>
<entry key="75" type="xstring" value="lvr_crops_agricultural-practices_urea[t/ha] (index)"/>
<entry key="76" type="xstring" value="lvr_crops_agricultural-practices_urea[t/ha]"/>
<entry key="77" type="xstring" value="lvr_crops_agricultural-practices_liming[t/ha] (index)"/>
<entry key="78" type="xstring" value="lvr_crops_agricultural-practices_n-balance[%] (index)"/>
<entry key="79" type="xstring" value="lvr_crops_agricultural-practices_n-balance[%]"/>
<entry key="80" type="xstring" value="lvr_crops_agricultural-practices_energy-use[toe/ha] (index)"/>
<entry key="81" type="xstring" value="lvr_crops_agricultural-practices_energy-use[toe/ha]"/>
<entry key="82" type="xstring" value="lvr_crops_agricultural-practices_energy-split[%] (index)"/>
<entry key="83" type="xstring" value="lvr_crops_agricultural-practices_energy-split[%]"/>
<entry key="84" type="xstring" value="lvr_land-dynamics_converted-land_cropland[%] (index)"/>
<entry key="85" type="xstring" value="lvr_crops_conservation_area[%] (index)"/>
<entry key="86" type="xstring" value="lvr_crops_residues_burnt[%] (index)"/>
<entry key="87" type="xstring" value="lvr_crops_gross-yields_barley-and-products[%] (index)"/>
<entry key="88" type="xstring" value="lvr_crops_gross-yields_barley-and-products[%]"/>
<entry key="89" type="xstring" value="lvr_crops_gross-yields_maize-and-products[%] (index)"/>
<entry key="90" type="xstring" value="lvr_crops_gross-yields_maize-and-products[%]"/>
<entry key="91" type="xstring" value="lvr_crops_gross-yields_rye-and-products[%] (index)"/>
<entry key="92" type="xstring" value="lvr_crops_gross-yields_rye-and-products[%]"/>
<entry key="93" type="xstring" value="lvr_crops_gross-yields_cereal-others[%] (index)"/>
<entry key="94" type="xstring" value="lvr_crops_gross-yields_cereal-others[%]"/>
<entry key="95" type="xstring" value="lvr_crops_gross-yields_paddy-rice[%] (index)"/>
<entry key="96" type="xstring" value="lvr_crops_gross-yields_paddy-rice[%]"/>
<entry key="97" type="xstring" value="lvr_crops_gross-yields_wheat-and-products[%] (index)"/>
<entry key="98" type="xstring" value="lvr_crops_gross-yields_wheat-and-products[%]"/>
<entry key="99" type="xstring" value="lvr_crops_wastes-and-losses_sunflower-seed[%] (index)"/>
<entry key="100" type="xstring" value="lvr_crops_wastes-and-losses_sunflower-seed[%]"/>
<entry key="101" type="xstring" value="lvr_crops_wastes-and-losses_soyabeans[%] (index)"/>
<entry key="102" type="xstring" value="lvr_crops_wastes-and-losses_soyabeans[%]"/>
<entry key="103" type="xstring" value="lvr_crops_wastes-and-losses_palm[%] (index)"/>
<entry key="104" type="xstring" value="lvr_crops_wastes-and-losses_palm[%]"/>
<entry key="105" type="xstring" value="lvr_crops_wastes-and-losses_oilcrop-others[%] (index)"/>
<entry key="106" type="xstring" value="lvr_crops_wastes-and-losses_oilcrop-others[%]"/>
<entry key="107" type="xstring" value="lvr_crops_wastes-and-losses_olives[%] (index)"/>
<entry key="108" type="xstring" value="lvr_crops_wastes-and-losses_olives[%]"/>
<entry key="109" type="xstring" value="lvr_crops_wastes-and-losses_rape-and-mustardseed[%] (index)"/>
<entry key="110" type="xstring" value="lvr_crops_wastes-and-losses_rape-and-mustardseed[%]"/>
<entry key="111" type="xstring" value="lvr_crops_wastes-and-losses_vegetables[%] (index)"/>
<entry key="112" type="xstring" value="lvr_crops_wastes-and-losses_vegetables[%]"/>
<entry key="113" type="xstring" value="lvr_crops_wastes-and-losses_grapes[%] (index)"/>
<entry key="114" type="xstring" value="lvr_crops_wastes-and-losses_grapes[%]"/>
<entry key="115" type="xstring" value="lvr_crops_wastes-and-losses_pulses[%] (index)"/>
<entry key="116" type="xstring" value="lvr_crops_wastes-and-losses_pulses[%]"/>
<entry key="117" type="xstring" value="lvr_crops_wastes-and-losses_starchy-roots[%] (index)"/>
<entry key="118" type="xstring" value="lvr_crops_wastes-and-losses_starchy-roots[%]"/>
<entry key="119" type="xstring" value="lvr_crops_wastes-and-losses_sugar-crops[%] (index)"/>
<entry key="120" type="xstring" value="lvr_crops_wastes-and-losses_sugar-crops[%]"/>
<entry key="121" type="xstring" value="lvr_crops_wastes-and-losses_fruits-excluding-wine[%] (index)"/>
<entry key="122" type="xstring" value="lvr_crops_wastes-and-losses_fruits-excluding-wine[%]"/>
<entry key="123" type="xstring" value="lvr_crops_wastes-and-losses_cocoa-beans-and-products[%] (index)"/>
<entry key="124" type="xstring" value="lvr_crops_wastes-and-losses_cocoa-beans-and-products[%]"/>
<entry key="125" type="xstring" value="lvr_crops_wastes-and-losses_tea-including-mate[%] (index)"/>
<entry key="126" type="xstring" value="lvr_crops_wastes-and-losses_tea-including-mate[%]"/>
<entry key="127" type="xstring" value="lvr_crops_wastes-and-losses_tobacco[%] (index)"/>
<entry key="128" type="xstring" value="lvr_crops_wastes-and-losses_tobacco[%]"/>
<entry key="129" type="xstring" value="lvr_crops_wastes-and-losses_coffee-and-products[%] (index)"/>
<entry key="130" type="xstring" value="lvr_crops_wastes-and-losses_coffee-and-products[%]"/>
<entry key="131" type="xstring" value="lvr_crops_wastes-and-losses_rubber[%] (index)"/>
<entry key="132" type="xstring" value="lvr_crops_wastes-and-losses_rubber[%]"/>
<entry key="133" type="xstring" value="lvr_crops_wastes-and-losses_fibre-crops[%] (index)"/>
<entry key="134" type="xstring" value="lvr_crops_wastes-and-losses_fibre-crops[%]"/>
<entry key="135" type="xstring" value="lvr_crops_wastes-and-losses_barley-and-products[%] (index)"/>
<entry key="136" type="xstring" value="lvr_crops_wastes-and-losses_barley-and-products[%]"/>
<entry key="137" type="xstring" value="lvr_crops_wastes-and-losses_maize-and-products[%] (index)"/>
<entry key="138" type="xstring" value="lvr_crops_wastes-and-losses_maize-and-products[%]"/>
<entry key="139" type="xstring" value="lvr_crops_wastes-and-losses_rye-and-products[%] (index)"/>
<entry key="140" type="xstring" value="lvr_crops_wastes-and-losses_rye-and-products[%]"/>
<entry key="141" type="xstring" value="lvr_crops_wastes-and-losses_cereal-others[%] (index)"/>
<entry key="142" type="xstring" value="lvr_crops_wastes-and-losses_cereal-others[%]"/>
<entry key="143" type="xstring" value="lvr_crops_wastes-and-losses_paddy-rice[%] (index)"/>
<entry key="144" type="xstring" value="lvr_crops_wastes-and-losses_paddy-rice[%]"/>
<entry key="145" type="xstring" value="lvr_crops_wastes-and-losses_wheat-and-products[%] (index)"/>
<entry key="146" type="xstring" value="lvr_crops_cropland_fallow[ha]"/>
<entry key="147" type="xstring" value="lvr_crops_residues_burnt[%]"/>
<entry key="148" type="xstring" value="lvr_crops_agricultural-practices_intercropping[%]"/>
<entry key="149" type="xstring" value="lvr_crops_agricultural-practices_liming[t/ha]"/>
<entry key="150" type="xstring" value="lvr_land-dynamics_converted-land_cropland[%]"/>
<entry key="151" type="xstring" value="lvr_crops_conservation_area[%]"/>
<entry key="152" type="xstring" value="m-lvr_crop-production-system[-] (index)"/>
<entry key="153" type="xstring" value="m-lvr_crop-production-system[-]"/>
<entry key="154" type="xstring" value="lvr_crops_wastes-and-losses_wheat-and-products[%]"/>
<entry key="155" type="xstring" value="lvr_biogas_power-only_efficiency[%] (index)"/>
<entry key="156" type="xstring" value="lvr_biogas_power-only_efficiency[%]"/>
<entry key="157" type="xstring" value="lvr_biogas_heat-only_efficiency[%] (index)"/>
<entry key="158" type="xstring" value="lvr_biogas_heat-only_efficiency[%]"/>
<entry key="159" type="xstring" value="lvr_biogas_power-chp_cogeneration-ratio[%] (index)"/>
<entry key="160" type="xstring" value="lvr_biogas_power-chp_efficiency[%] (index)"/>
<entry key="161" type="xstring" value="lvr_biogas_power-chp_efficiency[%]"/>
<entry key="162" type="xstring" value="lvr_solid-biofuels_power-only_load-factor[%] (index)"/>
<entry key="163" type="xstring" value="lvr_solid-biofuels_heat-only_load-factor[%] (index)"/>
<entry key="164" type="xstring" value="lvr_solid-biofuels_heat-only_load-factor[%]"/>
<entry key="165" type="xstring" value="lvr_solid-biofuels_power-chp_efficiency[%] (index)"/>
<entry key="166" type="xstring" value="lvr_solid-biofuels_power-only_efficiency[%] (index)"/>
<entry key="167" type="xstring" value="lvr_solid-biofuels_power-only_efficiency[%]"/>
<entry key="168" type="xstring" value="lvr_solid-biofuels_heat-only_efficiency[%] (index)"/>
<entry key="169" type="xstring" value="lvr_solid-biofuels_heat-only_efficiency[%]"/>
<entry key="170" type="xstring" value="lvr_solid-biofuels_power-chp_cogeneration-ratio[%] (index)"/>
<entry key="171" type="xstring" value="lvr_solid-biofuels_power-chp_cogeneration-ratio[%]"/>
<entry key="172" type="xstring" value="lvr_solid-biofuels_power-chp_load-factor[%] (index)"/>
<entry key="173" type="xstring" value="lvr_solid-biofuels_power-chp_load-factor[%]"/>
<entry key="174" type="xstring" value="m-lvr_solid-biofuels-efficiency[-] (index)"/>
<entry key="175" type="xstring" value="m-lvr_solid-biofuels-efficiency[-]"/>
<entry key="176" type="xstring" value="lvr_solid-biofuels_power-chp_efficiency[%]"/>
<entry key="177" type="xstring" value="m-lvr_biogas-cogeneration-ratio[-] (index)"/>
<entry key="178" type="xstring" value="m-lvr_biogas-cogeneration-ratio[-]"/>
<entry key="179" type="xstring" value="lvr_biogas_power-chp_cogeneration-ratio[%]"/>
<entry key="180" type="xstring" value="m-lvr_solid-biofuels-load-factor[-] (index)"/>
<entry key="181" type="xstring" value="m-lvr_solid-biofuels-load-factor[-]"/>
<entry key="182" type="xstring" value="lvr_solid-biofuels_power-only_load-factor[%]"/>
<entry key="183" type="xstring" value="lvr_biogas_anaerobic-fermentation_feedstock-split[%] (index)"/>
<entry key="184" type="xstring" value="lvr_biogas_anaerobic-fermentation_feedstock-split[%]"/>
<entry key="185" type="xstring" value="lvr_biogas_thermal-processes_feedstock-split[%] (index)"/>
<entry key="186" type="xstring" value="lvr_biogas_thermal-processes_feedstock-split[%]"/>
<entry key="187" type="xstring" value="lvr_liquid-biofuels_hvo_feedstock-split[%] (index)"/>
<entry key="188" type="xstring" value="lvr_liquid-biofuels_fame_feedstock-split[%] (index)"/>
<entry key="189" type="xstring" value="lvr_liquid-biofuels_fame_feedstock-split[%]"/>
<entry key="190" type="xstring" value="lvr_liquid-biofuels_bioethanol_feedstock-split[%] (index)"/>
<entry key="191" type="xstring" value="lvr_liquid-biofuels_bioethanol_feedstock-split[%]"/>
<entry key="192" type="xstring" value="lvr_liquid-biofuels_cellulosic-ethanol_feedstock-split[%] (index)"/>
<entry key="193" type="xstring" value="lvr_liquid-biofuels_cellulosic-ethanol_feedstock-split[%]"/>
<entry key="194" type="xstring" value="lvr_liquid-biofuels_btl_feedstock-split[%] (index)"/>
<entry key="195" type="xstring" value="lvr_liquid-biofuels_btl_feedstock-split[%]"/>
<entry key="196" type="xstring" value="lvr_liquid-biofuels_others_feedstock-split[%] (index)"/>
<entry key="197" type="xstring" value="lvr_liquid-biofuels_others_feedstock-split[%]"/>
<entry key="198" type="xstring" value="lvr_solid-biofuels_feedstock-split_excluding-animal-wastes[%] (index)"/>
<entry key="199" type="xstring" value="m-lvr_liquid-biofuels-feedstock-mix[-] (index)"/>
<entry key="200" type="xstring" value="m-lvr_liquid-biofuels-feedstock-mix[-]"/>
<entry key="201" type="xstring" value="lvr_liquid-biofuels_hvo_feedstock-split[%]"/>
<entry key="202" type="xstring" value="m-lvr_solid-biofuels-feedstock-mix[-] (index)"/>
<entry key="203" type="xstring" value="m-lvr_solid-biofuels-feedstock-mix[-]"/>
<entry key="204" type="xstring" value="lvr_solid-biofuels_feedstock-split_excluding-animal-wastes[%]"/>
<entry key="205" type="xstring" value="lvr_biogas_thermal-processes_nominal-capacity[toe] (index)"/>
<entry key="206" type="xstring" value="lvr_biogas_landfill_nominal-capacity[toe] (index)"/>
<entry key="207" type="xstring" value="lvr_biogas_landfill_nominal-capacity[toe]"/>
<entry key="208" type="xstring" value="lvr_biogas_sewage-sludge_nominal-capacity[toe] (index)"/>
<entry key="209" type="xstring" value="lvr_biogas_sewage-sludge_nominal-capacity[toe]"/>
<entry key="210" type="xstring" value="lvr_biogas_market-split_biogas-to-x[%] (index)"/>
<entry key="211" type="xstring" value="lvr_biogas_market-split_biogas-to-x[%]"/>
<entry key="212" type="xstring" value="lvr_biogas_anaerobic-fermentation_nominal-capacity[toe] (index)"/>
<entry key="213" type="xstring" value="lvr_biogas_anaerobic-fermentation_nominal-capacity[toe]"/>
<entry key="214" type="xstring" value="lvr_liquid-biofuels_fame_nominal-capacity[toe] (index)"/>
<entry key="215" type="xstring" value="lvr_liquid-biofuels_fame_nominal-capacity[toe]"/>
<entry key="216" type="xstring" value="lvr_liquid-biofuels_bioethanol_nominal-capacity[toe] (index)"/>
<entry key="217" type="xstring" value="lvr_liquid-biofuels_bioethanol_nominal-capacity[toe]"/>
<entry key="218" type="xstring" value="lvr_liquid-biofuels_cellulosic-ethanol_nominal-capacity[toe] (index)"/>
<entry key="219" type="xstring" value="lvr_liquid-biofuels_cellulosic-ethanol_nominal-capacity[toe]"/>
<entry key="220" type="xstring" value="lvr_liquid-biofuels_btl_nominal-capacity[toe] (index)"/>
<entry key="221" type="xstring" value="lvr_liquid-biofuels_btl_nominal-capacity[toe]"/>
<entry key="222" type="xstring" value="lvr_liquid-biofuels_others_nominal-capacity[toe] (index)"/>
<entry key="223" type="xstring" value="lvr_liquid-biofuels_others_nominal-capacity[toe]"/>
<entry key="224" type="xstring" value="lvr_liquid-biofuels_hvo_nominal-capacity[toe] (index)"/>
<entry key="225" type="xstring" value="lvr_solid-biofuels_power-only_nominal-capacity[mwh] (index)"/>
<entry key="226" type="xstring" value="lvr_solid-biofuels_power-only_nominal-capacity[mwh]"/>
<entry key="227" type="xstring" value="lvr_solid-biofuels_heat-only_nominal-capacity[mwh] (index)"/>
<entry key="228" type="xstring" value="lvr_solid-biofuels_heat-only_nominal-capacity[mwh]"/>
<entry key="229" type="xstring" value="lvr_solid-biofuels_power-chp_nominal-capacity[mwh] (index)"/>
<entry key="230" type="xstring" value="lvr_solid-biofuels_power-chp_nominal-capacity[mwh]"/>
<entry key="231" type="xstring" value="m-lvr_biogas-capacity[toe] (index)"/>
<entry key="232" type="xstring" value="m-lvr_biogas-capacity[toe]"/>
<entry key="233" type="xstring" value="lvr_biogas_thermal-processes_nominal-capacity[toe]"/>
<entry key="234" type="xstring" value="m-lvr_liquid-biofuels-capacity[toe] (index)"/>
<entry key="235" type="xstring" value="m-lvr_liquid-biofuels-capacity[toe]"/>
<entry key="236" type="xstring" value="lvr_liquid-biofuels_hvo_nominal-capacity[toe]"/>
<entry key="237" type="xstring" value="m-lvr_solid-biofuels-capacity[-] (index)"/>
<entry key="238" type="xstring" value="m-lvr_solid-biofuels-capacity[-]"/>
<entry key="239" type="xstring" value="lvr_solid-biofuels_power-only_nominal-capacity[mw]"/>
<entry key="240" type="xstring" value="lvr_livestock_fat-yields_mutton-&amp;-goats[t/lsu] (index)"/>
<entry key="241" type="xstring" value="lvr_livestock_fat-yields_mutton-&amp;-goats[t/lsu]"/>
<entry key="242" type="xstring" value="lvr_livestock_fat-yields_pigs[t/lsu] (index)"/>
<entry key="243" type="xstring" value="lvr_livestock_fat-yields_pigs[t/lsu]"/>
<entry key="244" type="xstring" value="lvr_livestock_fat-yields_dairy-mutton-&amp;-goats[t/lsu] (index)"/>
<entry key="245" type="xstring" value="lvr_livestock_fat-yields_dairy-mutton-&amp;-goats[t/lsu]"/>
<entry key="246" type="xstring" value="lvr_livestock_fat-yields_dairy-cattle[t/lsu] (index)"/>
<entry key="247" type="xstring" value="lvr_livestock_fat-yields_dairy-cattle[t/lsu]"/>
<entry key="248" type="xstring" value="lvr_livestock_fat-yields_non-dairy-cattle[t/lsu] (index)"/>
<entry key="249" type="xstring" value="lvr_livestock_fat-yields_non-dairy-cattle[t/lsu]"/>
<entry key="250" type="xstring" value="lvr_livestock_ration-split_all-animals[-] (index)"/>
<entry key="251" type="xstring" value="lvr_livestock_ration-split_all-animals[-]"/>
<entry key="252" type="xstring" value="lvr_livestock_feed-sources_all-animals[-] (index)"/>
<entry key="253" type="xstring" value="lvr_livestock_feed-sources_all-animals[-]"/>
<entry key="254" type="xstring" value="lvr_livestock_pasture-land_temp-perm[-] (index)"/>
<entry key="255" type="xstring" value="lvr_livestock_density_grazing[lsu/ha] (index)"/>
<entry key="256" type="xstring" value="lvr_livestock_density_grazing[lsu/ha]"/>
<entry key="257" type="xstring" value="lvr_livestock_raising_other-animals[-] (index)"/>
<entry key="258" type="xstring" value="lvr_livestock_raising_other-animals[-]"/>
<entry key="259" type="xstring" value="lvr_livestock_raising_dairy-mutton-and-goats[-] (index)"/>
<entry key="260" type="xstring" value="lvr_livestock_raising_dairy-mutton-and-goats[-]"/>
<entry key="261" type="xstring" value="lvr_livestock_raising_laying-poultry[-] (index)"/>
<entry key="262" type="xstring" value="lvr_livestock_raising_laying-poultry[-]"/>
<entry key="263" type="xstring" value="lvr_livestock_raising_mutton-&amp;-goats[-] (index)"/>
<entry key="264" type="xstring" value="lvr_livestock_raising_mutton-&amp;-goats[-]"/>
<entry key="265" type="xstring" value="lvr_livestock_raising_pigs[-] (index)"/>
<entry key="266" type="xstring" value="lvr_livestock_raising_pigs[-]"/>
<entry key="267" type="xstring" value="lvr_livestock_raising_broilers-poultry[-] (index)"/>
<entry key="268" type="xstring" value="lvr_livestock_raising_broilers-poultry[-]"/>
<entry key="269" type="xstring" value="lvr_livestock_raising_dairy-cattle[-] (index)"/>
<entry key="270" type="xstring" value="lvr_livestock_raising_dairy-cattle[-]"/>
<entry key="271" type="xstring" value="lvr_livestock_raising_non-dairy-cattle[-] (index)"/>
<entry key="272" type="xstring" value="lvr_livestock_density_grazing[-]"/>
<entry key="273" type="xstring" value="lvr_livestock_pasture-land_temp-perm[-]"/>
<entry key="274" type="xstring" value="lvr_livestock_fat-yields_non-dairy-cattle[-]"/>
<entry key="275" type="xstring" value="m-lvr_raising-livestock[-] (index)"/>
<entry key="276" type="xstring" value="m-lvr_raising-livestock[-]"/>
<entry key="277" type="xstring" value="lvr_livestock_raising_non-dairy-cattle[-]"/>
<entry key="278" type="xstring" value="lvr_food-industry_by-products_wine-industry[%] (index)"/>
<entry key="279" type="xstring" value="lvr_food-industry_by-products_wine-industry[%]"/>
<entry key="280" type="xstring" value="lvr_food-industry_by-products_beer-industry[%] (index)"/>
<entry key="281" type="xstring" value="lvr_food-industry_by-products_beer-industry[%]"/>
<entry key="282" type="xstring" value="lvr_food-industry_by-products_alcohol-industry[%] (index)"/>
<entry key="283" type="xstring" value="lvr_food-industry_by-products_alcohol-industry[%]"/>
<entry key="284" type="xstring" value="lvr_food-industry_feedstock-split_alcohol-industry[%] (index)"/>
<entry key="285" type="xstring" value="lvr_food-industry_feedstock-split_alcohol-industry[%]"/>
<entry key="286" type="xstring" value="lvr_food-industry_by-products_livestock-industry[%] (index)"/>
<entry key="287" type="xstring" value="lvr_food-industry_by-products_livestock-industry[%]"/>
<entry key="288" type="xstring" value="lvr_processing_sugar-crops_sugar-&amp;-sweeteners[%] (index)"/>
<entry key="289" type="xstring" value="lvr_processing_sugar-crops_sugar-&amp;-sweeteners[%]"/>
<entry key="290" type="xstring" value="lvr_food-industry_by-products_sugar-industry[%] (index)"/>
<entry key="291" type="xstring" value="m-lvr_food-industry[-] (index)"/>
<entry key="292" type="xstring" value="m-lvr_food-industry[-]"/>
<entry key="293" type="xstring" value="lvr_food-industry_by-products_sugar-industry[%]"/>
<entry key="294" type="xstring" value="lvr_bio-sourced_materials_fibre-crops[t] (index)"/>
<entry key="295" type="xstring" value="lvr_bio-sourced_materials_fibre-crops[t]"/>
<entry key="296" type="xstring" value="lvr_bio-sourced_materials_rubber[t] (index)"/>
<entry key="297" type="xstring" value="lvr_bio-sourced_materials_rubber[t]"/>
<entry key="298" type="xstring" value="lvr_crops_residues_exported[%] (index)"/>
<entry key="299" type="xstring" value="lvr_bio-sourced_materials_alcohol-non-food[t] (index)"/>
<entry key="300" type="xstring" value="lvr_bio-sourced_materials_alcohol-non-food[t]"/>
<entry key="301" type="xstring" value="lvr_crops_residues_exported[%]"/>
<entry key="302" type="xstring" value="m-lvr_bio-sourced-supply[-] (index)"/>
<entry key="303" type="xstring" value="m-lvr_bio-sourced-supply[-]"/>
<entry key="304" type="xstring" value="lvr_bio-sourced_materials_rubber[%]"/>
<entry key="305" type="xstring" value="lvr_self-sufficiency_non-food_fibre-crops[%] (index)"/>
<entry key="306" type="xstring" value="lvr_self-sufficiency_non-food_fibre-crops[%]"/>
<entry key="307" type="xstring" value="lvr_self-sufficiency_non-food_rubber[%] (index)"/>
<entry key="308" type="xstring" value="lvr_self-sufficiency_non-food_rubber[%]"/>
<entry key="309" type="xstring" value="lvr_self-sufficiency_non-food_tobacco[%] (index)"/>
<entry key="310" type="xstring" value="lvr_self-sufficiency_non-food_alcohol-non-food[%] (index)"/>
<entry key="311" type="xstring" value="lvr_self-sufficiency_non-food_alcohol-non-food[%]"/>
<entry key="312" type="xstring" value="m-lvr_self-sufficiency-non-food[-] (index)"/>
<entry key="313" type="xstring" value="m-lvr_self-sufficiency-non-food[-]"/>
<entry key="314" type="xstring" value="lvr_self-sufficiency_non-food_tobacco[%]"/>
<entry key="315" type="xstring" value="lvr_self-sufficiency_animal-products_eggs[%] (index)"/>
<entry key="316" type="xstring" value="lvr_self-sufficiency_animal-products_eggs[%]"/>
<entry key="317" type="xstring" value="lvr_self-sufficiency_animal-products_offals[%] (index)"/>
<entry key="318" type="xstring" value="lvr_self-sufficiency_animal-products_offals[%]"/>
<entry key="319" type="xstring" value="lvr_self-sufficiency_animal-products_animals-fats[%] (index)"/>
<entry key="320" type="xstring" value="lvr_self-sufficiency_animal-products_animals-fats[%]"/>
<entry key="321" type="xstring" value="lvr_self-sufficiency_seafood_fish-seafood[%] (index)"/>
<entry key="322" type="xstring" value="lvr_self-sufficiency_seafood_fish-seafood[%]"/>
<entry key="323" type="xstring" value="lvr_self-sufficiency_animal-products_milk-excluding-butter[%] (index)"/>
<entry key="324" type="xstring" value="lvr_self-sufficiency_animal-products_milk-excluding-butter[%]"/>
<entry key="325" type="xstring" value="lvr_self-sufficiency_meat_mutton-&amp;-goat-meat[%] (index)"/>
<entry key="326" type="xstring" value="lvr_self-sufficiency_meat_mutton-&amp;-goat-meat[%]"/>
<entry key="327" type="xstring" value="lvr_self-sufficiency_meat_pigmeat[%] (index)"/>
<entry key="328" type="xstring" value="lvr_self-sufficiency_meat_pigmeat[%]"/>
<entry key="329" type="xstring" value="lvr_self-sufficiency_meat_poultry-meat[%] (index)"/>
<entry key="330" type="xstring" value="lvr_self-sufficiency_meat_poultry-meat[%]"/>
<entry key="331" type="xstring" value="lvr_self-sufficiency_meat_meat-other[%] (index)"/>
<entry key="332" type="xstring" value="lvr_self-sufficiency_meat_meat-other[%]"/>
<entry key="333" type="xstring" value="lvr_self-sufficiency_meat_bovine-meat[%] (index)"/>
<entry key="334" type="xstring" value="m-lvr_self-sufficiency-animals[-] (index)"/>
<entry key="335" type="xstring" value="m-lvr_self-sufficiency-animals[-]"/>
<entry key="336" type="xstring" value="lvr_self-sufficiency_meat_bovine-meat[%]"/>
<entry key="337" type="xstring" value="lvr_self-sufficiency_oil-crops_palm[%] (index)"/>
<entry key="338" type="xstring" value="lvr_self-sufficiency_oil-crops_palm[%]"/>
<entry key="339" type="xstring" value="lvr_self-sufficiency_oil-crops_rape-and-mustardseed[%] (index)"/>
<entry key="340" type="xstring" value="lvr_self-sufficiency_oil-crops_rape-and-mustardseed[%]"/>
<entry key="341" type="xstring" value="lvr_self-sufficiency_oil-crops_soyabeans[%] (index)"/>
<entry key="342" type="xstring" value="lvr_self-sufficiency_oil-crops_soyabeans[%]"/>
<entry key="343" type="xstring" value="lvr_self-sufficiency_oil-crops_sunflower-seed[%] (index)"/>
<entry key="344" type="xstring" value="lvr_self-sufficiency_oil-crops_sunflower-seed[%]"/>
<entry key="345" type="xstring" value="lvr_self-sufficiency_oil-crops_oilcrop-others[%] (index)"/>
<entry key="346" type="xstring" value="lvr_self-sufficiency_oil-crops_oilcrop-others[%]"/>
<entry key="347" type="xstring" value="lvr_self-sufficiency_oil-crops_olives[%] (index)"/>
<entry key="348" type="xstring" value="lvr_self-sufficiency_oil-crops_olives[%]"/>
<entry key="349" type="xstring" value="lvr_self-sufficiency_cakes_rape-and-mustard-cake[%] (index)"/>
<entry key="350" type="xstring" value="lvr_self-sufficiency_cakes_rape-and-mustard-cake[%]"/>
<entry key="351" type="xstring" value="lvr_self-sufficiency_cakes_soyabean-cake[%] (index)"/>
<entry key="352" type="xstring" value="lvr_self-sufficiency_cakes_soyabean-cake[%]"/>
<entry key="353" type="xstring" value="lvr_self-sufficiency_cakes_sunflowerseed-cake[%] (index)"/>
<entry key="354" type="xstring" value="lvr_self-sufficiency_cakes_sunflowerseed-cake[%]"/>
<entry key="355" type="xstring" value="lvr_self-sufficiency_cakes_cake-others[%] (index)"/>
<entry key="356" type="xstring" value="lvr_self-sufficiency_cakes_cake-others[%]"/>
<entry key="357" type="xstring" value="lvr_self-sufficiency_cakes_palm-cake[%] (index)"/>
<entry key="358" type="xstring" value="lvr_self-sufficiency_cakes_palm-cake[%]"/>
<entry key="359" type="xstring" value="lvr_self-sufficiency_vegetable-oils_palm-oil[%] (index)"/>
<entry key="360" type="xstring" value="lvr_self-sufficiency_vegetable-oils_palm-oil[%]"/>
<entry key="361" type="xstring" value="lvr_self-sufficiency_vegetable-oils_rape-and-mustard-oil[%] (index)"/>
<entry key="362" type="xstring" value="lvr_self-sufficiency_vegetable-oils_rape-and-mustard-oil[%]"/>
<entry key="363" type="xstring" value="lvr_self-sufficiency_vegetable-oils_soyabean-oil[%] (index)"/>
<entry key="364" type="xstring" value="lvr_self-sufficiency_vegetable-oils_soyabean-oil[%]"/>
<entry key="365" type="xstring" value="lvr_self-sufficiency_vegetable-oils_sunflowerseed-oil[%] (index)"/>
<entry key="366" type="xstring" value="lvr_self-sufficiency_vegetable-oils_sunflowerseed-oil[%]"/>
<entry key="367" type="xstring" value="lvr_self-sufficiency_vegetable-oils_vegetable-oil-others[%] (index)"/>
<entry key="368" type="xstring" value="lvr_self-sufficiency_vegetable-oils_vegetable-oil-others[%]"/>
<entry key="369" type="xstring" value="lvr_self-sufficiency_vegetable-oils_olive-oil[%] (index)"/>
<entry key="370" type="xstring" value="lvr_self-sufficiency_vegetable-oils_olive-oil[%]"/>
<entry key="371" type="xstring" value="lvr_self-sufficiency_other-crops_starchy-roots[%] (index)"/>
<entry key="372" type="xstring" value="lvr_self-sufficiency_other-crops_starchy-roots[%]"/>
<entry key="373" type="xstring" value="lvr_self-sufficiency_other-crops_fruits-excluding-wine[%] (index)"/>
<entry key="374" type="xstring" value="lvr_self-sufficiency_other-crops_fruits-excluding-wine[%]"/>
<entry key="375" type="xstring" value="lvr_self-sufficiency_other-crops_vegetables[%] (index)"/>
<entry key="376" type="xstring" value="lvr_self-sufficiency_other-crops_vegetables[%]"/>
<entry key="377" type="xstring" value="lvr_self-sufficiency_other-crops_sugar-&amp;-sweeteners[%] (index)"/>
<entry key="378" type="xstring" value="lvr_self-sufficiency_other-crops_sugar-&amp;-sweeteners[%]"/>
<entry key="379" type="xstring" value="lvr_self-sufficiency_other-crops_sugar-crops[%] (index)"/>
<entry key="380" type="xstring" value="lvr_self-sufficiency_other-crops_sugar-crops[%]"/>
<entry key="381" type="xstring" value="lvr_self-sufficiency_other-crops_pulses[%] (index)"/>
<entry key="382" type="xstring" value="lvr_self-sufficiency_other-crops_pulses[%]"/>
<entry key="383" type="xstring" value="lvr_self-sufficiency_stimulants_cocoa-beans-and-products[%] (index)"/>
<entry key="384" type="xstring" value="lvr_self-sufficiency_stimulants_cocoa-beans-and-products[%]"/>
<entry key="385" type="xstring" value="lvr_self-sufficiency_stimulants_tea-including-mate[%] (index)"/>
<entry key="386" type="xstring" value="lvr_self-sufficiency_stimulants_tea-including-mate[%]"/>
<entry key="387" type="xstring" value="lvr_self-sufficiency_stimulants_coffee-and-products[%] (index)"/>
<entry key="388" type="xstring" value="lvr_self-sufficiency_stimulants_coffee-and-products[%]"/>
<entry key="389" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_wine[%] (index)"/>
<entry key="390" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_wine[%]"/>
<entry key="391" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-fermented[%] (index)"/>
<entry key="392" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-fermented[%]"/>
<entry key="393" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-alcoholic[%] (index)"/>
<entry key="394" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beverages-alcoholic[%]"/>
<entry key="395" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beer[%] (index)"/>
<entry key="396" type="xstring" value="lvr_self-sufficiency_alcoholic-beverages_beer[%]"/>
<entry key="397" type="xstring" value="lvr_self-sufficiency_cereals_maize-and-products[%] (index)"/>
<entry key="398" type="xstring" value="lvr_self-sufficiency_cereals_maize-and-products[%]"/>
<entry key="399" type="xstring" value="lvr_self-sufficiency_cereals_rye-and-products[%] (index)"/>
<entry key="400" type="xstring" value="lvr_self-sufficiency_cereals_rye-and-products[%]"/>
<entry key="401" type="xstring" value="lvr_self-sufficiency_cereals_wheat-and-products[%] (index)"/>
<entry key="402" type="xstring" value="lvr_self-sufficiency_cereals_cereal-others[%] (index)"/>
<entry key="403" type="xstring" value="lvr_self-sufficiency_cereals_cereal-others[%]"/>
<entry key="404" type="xstring" value="lvr_self-sufficiency_cereals_rice-milled-equivalent[%] (index)"/>
<entry key="405" type="xstring" value="lvr_self-sufficiency_cereals_rice-milled-equivalent[%]"/>
<entry key="406" type="xstring" value="lvr_self-sufficiency_cereals_barley-and-products[%] (index)"/>
<entry key="407" type="xstring" value="lvr_self-sufficiency_cereals_barley-and-products[%]"/>
<entry key="408" type="xstring" value="m-lvr_self-sufficiency-crops[-] (index)"/>
<entry key="409" type="xstring" value="m-lvr_self-sufficiency-crops[-]"/>
<entry key="410" type="xstring" value="lvr_self-sufficiency_cereals_wheat-and-products[%]"/>
<entry key="411" type="xstring" value="lvr_lifestyles_others_tobacco[t] (index)"/>
<entry key="412" type="xstring" value="lvr_lifestyles_others_tobacco[t]"/>
<entry key="413" type="xstring" value="lvr_other-supply_seeds_seeds[t] (index)"/>
<entry key="414" type="xstring" value="lvr_other-supply_seeds_seeds[t]"/>
<entry key="415" type="xstring" value="lvr_other-supply_other-nes_other-nes[t] (index)"/>
<entry key="416" type="xstring" value="lvr_other-supply_other-nes_other-nes[t]"/>
<entry key="417" type="xstring" value="lvr_other-supply_losses_distribution[%] (index)"/>
<entry key="418" type="xstring" value="lvr_other-supply_losses_distribution[%]"/>
<entry key="419" type="xstring" value="lvr_lifestyles_diet_split[t] (index)"/>
<entry key="420" type="xstring" value="lvr_lifestyles_diet_split[t]"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="calibration|geo-scale|user-path"/>
<entry key="type" type="xstring" value="Regex"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
</config>
<entry key="variable-prefix" type="xstring" isnull="true" value=""/>
<config key="port-names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="model flow (input)"/>
</config>
<config key="port-descriptions">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="To plug to the flow"/>
</config>
<entry key="sub-node-description" type="xstring" value=""/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="isDeletable" type="xboolean" value="false"/>
<entry key="factory" type="xstring" value="org.knime.core.node.workflow.virtual.subnode.VirtualSubNodeInputNodeFactory"/>
<entry key="node-name" type="xstring" value="Component Input"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Core API"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.core"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.3.3.v202105242123"/>
<entry key="node-feature-name" type="xstring" value="KNIME AP Core feature"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.core.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.3.3.v202105242123"/>
<config key="factory_settings">
<config key="port_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
</config>
<entry key="name" type="xstring" value="Component Input"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 122, Cols: 1852"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="b2c41399-7007-4654-af38-67831b21c83f"/>
</config>
</config>
